<link rel="stylesheet" type="text/css" href="/browser/core/themes/classy/css/components/messages.css">

{% if result['errorMSG'] %} 
    <div class="messages messages--error" role="contentinfo" aria-label="Error message">
        <div role="alert">
            <h2 class="visually-hidden"> {{ "Error message"|trans }}</h2>
            {{ result['errorMSG'] }}
        </div>
    </div>
{% else %}
    
    <!-- if we include a twig view, then it sometimes cant load the 3rd party js files.. so with this we need to check if it is loaded or not -->
    <script src="/browser/modules/oeaw/js/jstree.min.js"></script>
    <script>!window.jQuery && document.write('<script src="/browser/modules/oeaw/js/jstree.min.js"><\/script>')</script>
    <script>
        jQuery(function($) {
            "use strict";
                    $(document).ready(function() {
                        let searchParams = new URLSearchParams(window.location.href);
                        var pageValue = 0;
                        if(searchParams.get('page')) {
                            pageValue = searchParams.get('page');
                            $('#actualPageSpan').html(pageValue);
                        }else {
                            $('#actualPageSpan').html("1");
                        }
                    });
                });
    </script>        
    
    <style type="text/css">
        .collectionBrowser_css {
            width: auto;
            max-width: 750px;
            height: auto;
            border: solid 1px #BBB;
            background: #FFF;
            overflow: hidden;
            padding: 5px;
        }
    </style>
    
    {% if result['specialType']|lower == "concept" %}
            {% set childTitle =  "Narrower(s)" %}
        {% elseif  result['specialType']|lower == "person" %}
            {% set childTitle = "Contributed to" %}
        {% elseif  result['specialType']|lower == "project" %}
            {% set childTitle =  "Related collection(s)" %}
        {% elseif  result['specialType']|lower == "organisation" %}
            {% set childTitle =  "Involved in" %}
        {% elseif  result['specialType']|lower == "place" %}
            {% set childTitle =  "Spatial coverage in" %}
        {% elseif  result['specialType']|lower == "publication" %}
            {% set childTitle =  "Related resource(s)" %}
        {% else %}
            {% set childTitle =  "Child Resource(s)" %}
        {% endif %}

    <div id="loader-div">
        <div class="loader-bg">
            <div class="loader"></div>
        </div>
    </div>
   
    
    <input type="hidden" id="limit" name="limit" value="10">
    <input type="hidden" id="maxPage" name="maxPage" value="{{ result['maxPage'] }}">
    <input type="hidden" id="maxPageLimit" name="maxPageLimit" value="{{ result['maxPageLimit'] }}">
    <input type="hidden" id="actualPage" name="actualPage" value="{{ result['actualPage'] }}">
    

    <div id="ajax-pagination">
        <div class="res-el res-info res-child-info col-block col-lg-12">
            <div class="result-basic-info">
                <span class="results-info-bar">
                    <h3>{{ childTitle|trans }}</h3>
                </span>
            </div>
        </div>
                
        <div class="res-el col-block col-lg-12">
            
            <div class="result-basic-info" style="">
            {% if result['mainResourceType']|lower == "collection" %}
                    <div class="res-act-button res-act-button-reverse res-act-button-treeview basic" style="text-align:left; margin-bottom:5px;">
                        <i class="material-icons">&#xE335;</i>
                        <span>{{ "Switch to Tree-View"|trans }}</span>
                    </div>
                {% endif %}
            </div>
            
            <div class="result-basic-info">
                {{ include('/modules/oeaw/templates/paging.html.twig', {'data': result['maxPageLimit'] } ) }}
            </div>    
        </div>
    </div>

    <div id="child-data-content">

        <div class="children-overview children-overview-basic" id="children-overview-basic">
            {% for cItem in result['childResult'] %}
                <div class="child-res">

                    <div class="res-property">
                        <span class="res-title">
                            {%  if cItem.getAccessRestriction() %}
                                {{ include('/modules/oeaw/templates/accesRestrictionFormat.html.twig', {'data': cItem.getAccessRestriction()|lower } ) }}
                            {% endif%}
                            <a href="{{ url('<front>') }}/oeaw_detail/{{ cItem.insideUri }}">                                         
                                {{ cItem.title }}
                            </a>
                        </span>		
                    </div>

                    <div class="res-property">
                        <i class="material-icons">&#xE54E;</i>
                        <span class="res-rdftype">
                            <a href="{{url('<front>') }}discover/&type={{ cItem.typeName }}/10">
                                {{ cItem.typeName }}
                            </a>
                        </span>
                    </div>

                    {% if cItem.description %}
                        <div class="res-property res-property-desc">
                            <i class="material-icons">&#xE88F;</i>	
                            <span class="res-description">{{ cItem.description }}</span>
                        </div>
                    {% endif%}

                    <div class="res-actions">
                        {% if cItem.description %}
                            <div class="res-act-button res-act-button-summary closed">
                                <i class="material-icons">&#xE145;</i>
                                <span>{{ "Show Summary"|trans }}</span>
                            </div>
                        {% endif%}

                        <div class="res-act-button">
                            <a href="{{ url('<front>') }}/oeaw_detail/{{ cItem.insideUri }}">
                                <i class="material-icons">&#xE873;</i>
                                <span>{{ "Detailed View"|trans }}</span>
                            </a>	
                        </div>          	
                    </div>
                </div>
            {% endfor %}
        </div>


        <div class="children-overview children-overview-tree">
            <div id="content_collection">
                <div id="collectionBrowser" class="collectionBrowser_css"></div>
            </div>            
        </div>

    </div>
    <!-- .children-overview-basic -->
{% endif %}    