{% if errorMSG %}

{% else %}
    <div class="res-el res-info col-block col-lg-12">
        <div class="result-basic-info">
            <span class="results-info-bar">{{ totalResultAmount }} Result(s)</span>
            <span class="results-info-bar">Page {{ currentPage }} of {{ totalPages }}</span>
            <span class="results-info-bar results-info-bar-items">Items
                <div class="pagination-dropdown dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="resPerPageButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    10
                  </button>
                  <div class="dropdown-menu" aria-labelledby="resPerPageButton" id="resPerPageButton">
                    <a class="dropdown-item" href="#">10</a>
                    <a class="dropdown-item" href="#">25</a>
                    <a class="dropdown-item" href="#">50</a>
                  </div>
                </div>
            </span>
            <span class="results-info-bar results-info-bar-sort">Sort by
                <div class="pagination-dropdown dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="sortByButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Title (ASC)
                  </button>
                  <div class="dropdown-menu" aria-labelledby="sortByButton" id="sortByDropdown">
                    <a class="dropdown-item" data-value="titleasc" href="#">Title (ASC)</a>
                    <a class="dropdown-item" data-value="titledesc" href="#">Title (DESC)</a>
                    <a class="dropdown-item" data-value="dateasc" href="#">Date (ASC)</a>
                    <a class="dropdown-item" data-value="datedesc" href="#">Date (DESC)</a>
                    <!--
                    <a class="dropdown-item" data-value="typeasc" href="#">Type (ASC)</a>
                    <a class="dropdown-item" data-value="typedesc" href="#">Type (DESC)</a>
                    -->
                  </div>
                </div>
            </span>
            {% if pagination %}
            	<span class="results-info-bar pagination-span">{{ pagination|raw }}</span>
            {% endif%}
        </div>	

    </div>
        
    {% for item in result %}
        
        <div class="res-el col-block col-lg-12">
		
            {% if item.image %}<div class="res-inside-wrap col-lg-6 ">{% endif%}  		

            
            {% if item.title %}
                <div class="res-property">
                    <i class="material-icons">&#xE873;</i>
                    <span class="res-title"><a href="{{ url('<front>') }}oeaw_detail/{{ item.resUri }}">{{ item.title }}</a></span>
                </div>
            {% endif%}    

            {% if item.authors %}
                <div class="res-property">
                    <i class="material-icons">&#xE7FB;</i>
                    <span class="res-prop-label">Author(s): </span>
                    {% for author in item.authors %}  	
                    	<span class="res-contributor"><a href="{{ url('<front>') }}oeaw_detail/{{ author.authorUri }}">{{ author.authorName }}</a></span>
                    {% endfor %}	
                </div>
            {% endif%}

            {% if item.contributors %}
                <div class="res-property">
                    <i class="material-icons">&#xE7FE;</i>
                    <span class="res-prop-label">Contributor(s): </span>
                    {% for contributor in item.contributors %}  	
                    	<span class="res-contributor"><a href="{{ url('<front>') }}oeaw_detail/{{ contributor.contributorUri }}">{{ contributor.contributorName }}</a></span>
                    {% endfor %}	
                </div>
            {% endif%}

           
            {% if item.rdfType %}
                <div class="res-property">
                    <i class="material-icons">&#xE54E;</i>
                    <span class="res-prop-label">Type: </span>
                    {% for key,value in item.rdfType %}
                        {% if key == "typeName" %}
                            <span class="res-rdfType"><a href="{{ url('<front>') }}discover/&type={{ value }}/10">{{ value }}</a></span>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif%}

            {% if item.availableDate %}
                <div class="res-property">
                    <i class="material-icons">&#xE8DF;</i>
                    <span class="res-prop-label">Available Date: </span>
                    <span class="res-creationdate">{{ item.availableDate|date("d M Y") }}   </span>
                </div>
            {% endif%}

            {% if item.isPartOfTitle %}
                <div class="res-property">
                    <i class="material-icons">&#xE335;</i>	
                    <span class="res-ispartof">
                    <span class="res-prop-label">Part of: </span>
                    <a href="{{ url('<front>') }}oeaw_detail/{{ item.isPartOfUri }}">{{ item.isPartOfTitle }}</a>
                    </span>
                </div>
            {% endif%}            
            
            
            {% if item.description %}
                <div class="res-property res-property-desc">
                    <i class="material-icons">&#xE88F;</i>	
                    <span class="res-description">{{ item.description }}</span>
                </div>
            {% endif%}

            <div class="res-actions">

                {% if item.description %}
                    <div class="res-act-button res-act-button-summary closed">
                            <i class="material-icons">&#xE145;</i>
                            <span>Show Summary</span>
                    </div>
                {% endif%}

                <div class="res-act-button">
                    <a href="{{ url('<front>') }}/oeaw_detail/{{ item.resUri }}">
                        <i class="material-icons">&#xE873;</i>
                        <span>Detailed View</span>
                    </a>	
                </div>          	
            </div>	
            
           

            {% if item.image %}</div>{% endif%}

            {% if item.image %}	
                <div class="res-inside-wrap col-lg-6 ">	
                    <div class="single-res-thumb">
                        <a href="{{ url('<front>') }}/oeaw_detail/{{ item.resUri }}"><img src="{{ item.image }}"></a>
                    </div>
                </div>
            {% endif%}            
  
            	                                        
        </div>
    {% endfor %} 

{% endif%}	