<!-- START : ACDH PERSON template: detailView_Project  -->
{% if result['image'] %}<div class="res-inside-wrap col-lg-8 ">{% endif%}
    
    {%  if result['basic']['acdh:hasTitle'] %}
        <div class="res-property">
            <span class="res-title">{{ result['basic']['acdh:hasTitle'][0] }}</span>
        </div>
    {% endif%} 
    
    {%  if result['basic']['acdh:hasAlternativeTitle'] %}
        <div class="res-property">
            <i class="material-icons">&#xE264;</i>
            <span class="res-prop-label">Alternative Title:</span> 
            <span class="res-title">{{ result['basic']['acdh:hasAlternativeTitle'][0] }}</span>
        </div>
    {% endif%}
    
    {% if result['basic']['acdh_rdf:type'] %}
        <div class="res-property">
            <i class="material-icons">&#xE54E;</i>
            <span class="res-prop-label">Type:</span> 
            <span class="res-prop-value">
                <a href="{{ url('<front>') }}discover/&type={{ result['basic']['acdh_rdf:type']['title'] }}/10">{{ result['basic']['acdh_rdf:type']['title'] }}</a>
            </span>
        </div>
    {% endif%}	
    
    {%  if result['basic']['acdh:hasIdentifier'] %}
        {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result['basic']['acdh:hasIdentifier'], 'icon': "copyright", 'label': "Identifier(s)" } ) }}
    {% endif%}
  
    {%  if result['basic']['acdh:hasUrl'] %}
        {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result['basic']['acdh:hasUrl'], 'icon': "web", 'label': "Url" } ) }}
    {% endif%}
    
    {%  if result['basic']['acdh:hasContact'] %}
        {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result['basic']['acdh:hasContact'], 'icon': "person_add", 'label': "Contact(s)" } ) }}
    {% endif%}
    
    {%  if result['basic']['acdh:hasFunder'] %}
        {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result['basic']['acdh:hasFunder'], 'icon': "attach_money", 'label': "Funder" } ) }}
    {% endif%}
    
    {%  if result['basic']['acdh:hasPrincipalInvestigator'] %}
        {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result['basic']['acdh:hasPrincipalInvestigator'], 'icon': "perm_identity", 'label': "Principal Investigator" } ) }}
    {% endif%}
    
    {%  if result['basic']['acdh:language'] %}
        {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result['basic']['acdh:language'], 'icon': "flag", 'label': "Language" } ) }}
    {% endif%}
    
    {%  if result['basic']['acdh:hasStartDate'] %}
        {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result['basic']['acdh:hasStartDate'], 'icon': "today", 'label': "Start Date" } ) }}
    {% endif%}
    
    {%  if result['basic']['acdh:hasEndDate'] %}
        {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result['basic']['acdh:hasEndDate'], 'icon': "today", 'label': "End Date" } ) }}
    {% endif%}
    
    {%  if result['basic']['acdh:hasLifeCycleStatus'] %}
        {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result['basic']['acdh:hasLifeCycleStatus'], 'icon': "history", 'label': "Life Cycle Status" } ) }}
    {% endif%}

    {% if result['extended'] %}
        <h3 class="single-res-heading">Further Information</h3>
        
        {%  if result['extended']['acdh:hasRelatedDiscipline'] %}
            {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result['extended']['acdh:hasRelatedDiscipline'], 'icon': "", 'label': "Related Discipline" } ) }}
        {% endif%}
        
        {%  if result['extended']['acdh:hasSubject'] %}
            {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result['extended']['acdh:hasSubject'], 'icon': "", 'label': "Subject" } ) }}
        {% endif%}
        
        {%  if result['extended']['acdh:hasActor'] %}
            {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result['extended']['acdh:hasActor'], 'icon': "", 'label': "Actor" } ) }}
        {% endif%}
        
        
        {%  if result['extended']['acdh:hasSpatialCoverage '] %}
            {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result['extended']['acdh:hasSpatialCoverage'], 'icon': "", 'label': "Spatial Coverage" } ) }}
        {% endif%}
        
        {%  if result['extended']['acdh:hasTemporalCoverage'] %}
            {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result['extended']['acdh:hasTemporalCoverage'], 'icon': "", 'label': "Temporal Coverage" } ) }}
        {% endif%}
        
        {%  if result['extended']['acdh:hasCoverageStartDate'] %}
            {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result['extended']['acdh:hasCoverageStartDate'], 'icon': "", 'label': "Coverage Start Date" } ) }}
        {% endif%}
        
        {%  if result['extended']['acdh:hasCoverageEndDate'] %}
            {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result['extended']['acdh:hasCoverageEndDate'], 'icon': "", 'label': "Coverage End Date" } ) }}
        {% endif%}
        
        {%  if result['extended']['acdh:hasAppliedMethod'] %}
            {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result['extended']['acdh:hasAppliedMethod'], 'icon': "", 'label': "Applied Method" } ) }}
        {% endif%}
        
        {%  if result['extended']['acdh:hasAppliedMethodDescription'] %}
            {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result['extended']['acdh:hasAppliedMethodDescription'], 'icon': "", 'label': "Applied Method Description" } ) }}
        {% endif%}
        
        {%  if result['extended']['acdh:hasTechnicalInfo'] %}
            {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result['extended']['acdh:hasTechnicalInfo'], 'icon': "", 'label': "Technical Info" } ) }}
        {% endif%}
        
        {%  if result['extended']['acdh:hasEditorialPractice'] %}
            {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result['extended']['acdh:hasEditorialPractice'], 'icon': "", 'label': "Editorial Practice" } ) }}
        {% endif%}
        
        
        {%  if result['extended']['acdh:hasNote'] %}
            {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result['extended']['acdh:hasNote'], 'icon': "", 'label': "Note" } ) }}
        {% endif%}
    
        
    {% endif%}

    
{% if result['image'] %}</div>{% endif%}    
{% if result['image'] %}	
    <div class="res-inside-wrap col-lg-4 ">	
        <div class="single-res-thumb">
            <a data-lightbox="{{ result['resourceTitle'] }}" href="{{ result['image'] }}"><img src="{{ result['image'] }}"></a>
        </div>
    </div>
{% endif%}

<!-- END : ACDH PERSON template: detailView_Project  -->