{% if result['image'] %}<div class="res-inside-wrap col-lg-8 ">{% endif%}
            
    {%  if result['table']['acdh:hasTitle'] %}
        <div class="res-property">
            <i class="material-icons">&#xE873;</i>
            <span class="res-title">{{ result['table']['acdh:hasTitle'][0] }}</span>
        </div>
    {% endif%} 

    {%  if result['table']['acdh:hasBinarySize'][0] %}
        <div class="res-property">
            <i class="material-icons">&#xE2BC;</i>
            <span class="res-prop-label">Binary Size: </span>
            <span class="res-prop-value">
                {% for value in result['table']['acdh:hasBinarySize'] %}
                    {{ value }}
                {% endfor %}
            </span>
        </div>
    {% endif%} 

    {% if result['acdh_rdf:type'] %}
        <div class="res-property">
            <i class="material-icons">&#xE54E;</i>
            <span class="res-prop-label">Type:</span> 
            <span class="res-prop-value">
                <a href="{{ url('<front>') }}discover/&type={{ result['acdh_rdf:type']['title'] }}/10">{{ result['acdh_rdf:type']['title'] }}</a>
            </span>
        </div>
    {% endif%}		

    {% if result['table']['acdh:hasAuthor'] %}
        <div class="res-property">
            <i class="material-icons">&#xE7FB;</i>
            <span class="res-prop-label">Author(s): </span>
            <span class="res-prop-value">
                {% for value in result['table']['acdh:hasAuthor'] %}
                    {% if (value['insideUri']) and (value['title'])  %}
                         <a href="{{ url('<front>') }}oeaw_detail/{{ value['insideUri'] }}">{{ value['title'] }}</a>
                     {% elseif value['title'] %}    
                         <a href="{{ value['uri'] }}">{{ value['title'] }}</a>
                     {% elseif value['uri'] %}
                         <!-- if the contributor has no acdh id but other 3rd party id, then we will not use the oeaw_detail page -->
                         <a href="{{ value['uri'] }}">{{ value['uri'] }}</a>
                     {% else %}
                         {{ value }},
                     {% endif%}
                     <span class="res-prop-delimiter">,</span>
                {% endfor %}
            </span>
        </div>                
    {% endif%}	

    {% if result['table']['acdh:hasContributor'] %}
        <div class="res-property">
            <i class="material-icons">&#xE7FE;</i>
            <span class="res-prop-label">Contributor(s): </span>
            <span class="res-prop-value">
                {% for value in result['table']['acdh:hasContributor'] %}
                    {% if (value['insideUri']) and (value['title'])  %}
                         <a href="{{ url('<front>') }}oeaw_detail/{{ value['insideUri'] }}">{{ value['title'] }}</a>
                     {% elseif value['title'] %}    
                         <a href="{{ value['uri'] }}">{{ value['title'] }}</a>
                     {% elseif value['uri'] %}
                         <!-- if the contributor has no acdh id but other 3rd party id, then we will not use the oeaw_detail page -->
                         <a href="{{ value['uri'] }}">{{ value['uri'] }}</a>
                     {% else %}
                         {{ value }}
                     {% endif%}
                     <span class="res-prop-delimiter">,</span>
                {% endfor %}
            </span>
        </div>                
    {% endif%}

    {% if result['table']['acdh:hasContact'] %}
        <div class="res-property">
            <i class="material-icons">&#xE7FE;</i>
            <span class="res-prop-label">Contact(s): </span>
            <span class="res-prop-value">
                {% for value in result['table']['acdh:hasContact'] %}
                    {% if (value['insideUri']) and (value['title'])  %}
                         <a href="{{ url('<front>') }}oeaw_detail/{{ value['insideUri'] }}">{{ value['title'] }}</a>
                     {% elseif value['title'] %}    
                         <a href="{{ value['uri'] }}">{{ value['title'] }}</a>
                     {% elseif value['uri'] %}
                         <!-- if the contributor has no acdh id but other 3rd party id, then we will not use the oeaw_detail page -->
                         <a href="{{ value['uri'] }}">{{ value['uri'] }}</a>
                     {% else %}
                         {{ value }}
                     {% endif%}
                     <span class="res-prop-delimiter">,</span>
                {% endfor %}
            </span>
        </div>                
    {% endif%}

    {% if result['table']['acdh:hasCreator'] %}
        <div class="res-property">
            <i class="material-icons">&#xE7FB;</i>
            <span class="res-prop-label">Creator(s): </span>
            <span class="res-prop-value">
                {% for value in result['table']['acdh:hasCreator'] %}
                    {% if (value['insideUri']) and (value['title'])  %}
                        <a href="{{ url('<front>') }}oeaw_detail/{{ value['insideUri'] }}">{{ value['title'] }}</a>
                    {% elseif value['title'] %}    
                        <a href="{{ value['uri'] }}">{{ value['title'] }}</a>
                    {% elseif value['uri'] %}
                        <a href="{{ value['uri'] }}">{{ value['uri'] }}</a>
                    {% else %}
                        {{ value }}
                    {% endif%}
                    <span class="res-prop-delimiter">,</span>
                {% endfor %}
            </span>
        </div>                
    {% endif%}	

    {% if result['table']['acdh:hasEditor'] %}
        <div class="res-property">
            <i class="material-icons">&#xE7FB;</i>
            <span class="res-prop-label">Editor(s): </span>
            <span class="res-prop-value">
                {% for value in result['table']['acdh:hasEditor'] %}
                    {% if (value['insideUri']) and (value['title'])  %}
                        <a href="{{ url('<front>') }}oeaw_detail/{{ value['insideUri'] }}">{{ value['title'] }}</a>
                    {% elseif value['title'] %}    
                        <a href="{{ value['uri'] }}">{{ value['title'] }}</a>
                    {% elseif value['uri'] %}
                        <a href="{{ value['uri'] }}">{{ value['uri'] }}</a>
                    {% else %}
                        {{ value }}
                    {% endif%}
                    <span class="res-prop-delimiter">,</span>
                {% endfor %}
            </span>
        </div>                
    {% endif%}	

    {% if result['table']['acdh:hasAvailableDate'][0] %}
        <div class="res-property">
            <i class="material-icons">&#xE8DF;</i>
            <span class="res-prop-label">Available Date: </span>
            <span class="res-prop-value">{{ result['table']['acdh:hasAvailableDate'][0] }}</span>
        </div>
    {% endif%}

    {% if result['table']['acdh:hasCreatedDate'][0] %}
        <div class="res-property">
            <i class="material-icons">&#xE8DF;</i>
            <span class="res-prop-label">Created Date: </span>
            <span class="res-prop-value">{{ result['table']['acdh:hasCreatedDate'][0]|date("d M Y") }}</span>
        </div>
    {% endif%}

    {% if result['table']['acdh:hasCreationStartDate'][0] %}
        <div class="res-property">
            <i class="material-icons">&#xE8DF;</i>
            <span class="res-prop-label">Creation Start Date: </span>
            <span class="res-prop-value">{{ result['table']['acdh:hasCreationStartDate'][0]|date("d M Y") }}</span>
        </div>
    {% endif%}

    {% if result['table']['acdh:hasCreationEndDate'][0] %}
        <div class="res-property">
            <i class="material-icons">&#xE8DF;</i>
            <span class="res-prop-label">Creation End Date: </span>
            <span class="res-prop-value">{{ result['table']['acdh:hasCreationEndDate'][0]|date("d M Y") }}</span>
        </div>
    {% endif%}

    {% if result['table']['acdh:isPartOf'] %}
        <div class="res-property">
            <i class="material-icons">&#xE335;</i>
            <span class="res-prop-label">Part of: </span>
            <span class="res-prop-value">
                {% for value in result['table']['acdh:isPartOf'] %}
                    {% if value['insideUri'] %}
                        <a href="{{ url('<front>') }}oeaw_detail/{{ value['insideUri'] }}">{{ value['title'] }}</a>
                    {% else %}
                        <!-- if the contributor has no acdh id but other 3rd party id, then we will not use the oeaw_detail page -->                                
                        <a href="{{ value['uri'] }}">{{ value['title'] }}</a>
                    {% endif%}
                    <span class="res-prop-delimiter">,</span>
                {% endfor %}
            </span>
        </div>
    {% endif%}

    {% if result['table']['acdh:hasExtent'] %}
        <div class="res-property">
            <i class="material-icons">&#xE2C7;</i>
            <span class="res-prop-label">Extent: </span>
            <span class="res-prop-value">
                {% for value in result['table']['acdh:hasExtent'] %}
                    {{ value }}
                    <span class="res-prop-delimiter">,</span>
                {% endfor %}
            </span>
        </div>
    {% endif%}

    {%  if result['table']['acdh:hasLicense'] %}
        <div class="res-property">
            <i class="material-icons">&#xE90C;</i>
            <span class="res-prop-label">License: </span>
             <span class="res-prop-value">
                {% if result['table']['acdh:hasLicense'] is iterable %}
                    {% for value in result['table']['acdh:hasLicense'] %}
                        {% if (value['insideUri']) and (value['title'])  %}
                            <a href="{{ url('<front>') }}oeaw_detail/{{ value['insideUri'] }}">{{ value['title'] }}</a>
                        {% elseif value['title'] %}    
                            <a href="{{ value['uri'] }}">{{ value['title'] }}</a>
                        {% elseif value['uri'] %}
                            <a href="{{ value['uri'] }}">{{ value['uri'] }}</a>
                        {% else %}
                            {{ value }}
                        {% endif%}
                        <span class="res-prop-delimiter">,</span>
                    {% endfor %}
                {% else %}
                    {{ result['table']['acdh:hasLicense'][0] }}
                {% endif %}
            </span>
        </div>
    {% endif%}

    {%  if result['table']['acdh:hasAccessRestriction'][0] %}
        <div class="res-property">
            <i class="material-icons">&#xE8F4;</i>
            <span class="res-prop-label">Access: </span>
            <span class="res-binarySize">{{ result['table']['acdh:hasAccessRestriction'][0] }}</span>
        </div>
    {% endif%}

    {%  if result['table']['acdh:hasSchema'] %}
        <div class="res-property">
            <i class="material-icons">&#xE241;</i>
            <span class="res-prop-label">Schema: </span>
            <span class="res-prop-value">
                {% if result['table']['acdh:hasSchema'] is iterable %}
                    {% for value in result['table']['acdh:hasSchema'] %}
                        {% if (value['insideUri']) and (value['title'])  %}
                            <a href="{{ url('<front>') }}oeaw_detail/{{ value['insideUri'] }}">{{ value['title'] }}</a>
                        {% elseif value['title'] %}    
                            <a href="{{ value['uri'] }}">{{ value['title'] }}</a>
                        {% elseif value['uri'] %}
                            <a href="{{ value['uri'] }}">{{ value['uri'] }}</a>
                        {% else %}
                            {{ value }}
                        {% endif%}
                        <span class="res-prop-delimiter">,</span>
                    {% endfor %}
                {% else %}
                    {{ result['table']['acdh:hasSchema'][0] }}
                {% endif %}
            </span>
        </div>
    {% endif%}


    {% if result['table']['acdh:hasMetadata'] %}
        <div class="res-property">
            <i class="material-icons">&#xE85D;</i>
            <span class="res-prop-label">Metadata: </span>
            <span class="res-prop-value">
                {% if result['table']['acdh:hasMetadata'] is iterable %}
                    {% for value in result['table']['acdh:hasMetadata'] %}
                       {% if (value['insideUri']) and (value['title'])  %}
                            <a href="{{ url('<front>') }}oeaw_detail/{{ value['insideUri'] }}">{{ value['title'] }}</a>
                        {% elseif value['title'] %}    
                            <a href="{{ value['uri'] }}">{{ value['title'] }}</a>
                        {% elseif value['uri'] %}
                            <a href="{{ value['uri'] }}">{{ value['uri'] }}</a>
                        {% else %}
                            {{ value }}
                        {% endif%}
                        <span class="res-prop-delimiter">,</span>
                    {% endfor %}
                {% else %}
                    {{ result['table']['acdh:hasMetadata'][0] }}
                {% endif %}    
                </span>
        </div>
    {% endif%}

    {% if result['isMetadata'] %}
        <div class="res-property">
            <i class="material-icons">&#xE85D;</i>
            <span class="res-prop-label">isMetadataFor: </span>
            <span class="res-prop-value">
                {% for value in result['isMetadata'] %}
                    {% if value['insideUri'] %}
                        <a href="{{ url('<front>') }}oeaw_detail/{{ value['insideUri'] }}">{{ value['title'] }}</a>
                    {% else %}
                        <a href="{{ value['uri'] }}">{{ value['uri'] }}</a>
                    {% endif%}
                    <span class="res-prop-delimiter">,</span>
                {% endfor %}
            </span>
        </div>
    {% endif%}

    {% if result['table']['acdh:hasLocationURL'] %}
        <div class="res-property">
            <i class="material-icons">&#xE55C;</i>
            <span class="res-prop-label">Location URL: </span>
            <span class="res-prop-value">
                {% for value in result['table']['acdh:hasLocationURL'] %}
                    {% if value['insideUri'] %}
                        <a href="{{ url('<front>') }}oeaw_detail/{{ value['insideUri'] }}">{{ value['title'] }}</a>
                    {% else %}
                        <a href="{{ value['uri'] }}">{{ value['uri'] }}</a>
                    {% endif%}
                    <span class="res-prop-delimiter">,</span>
                {% endfor %}
            </span>
        </div>
    {% endif%}

    {% if result['table']['acdh:hasUrl'] %}
        <div class="res-property">
            <i class="material-icons"><i class="material-icons">&#xE051;</i></i>
            <span class="res-prop-label">Url: </span>
            <span class="res-prop-value">
                {% if result['table']['acdh:hasUrl'] is iterable %}
                    {% for value in result['table']['acdh:hasUrl'] %}
                       {% if (value['insideUri']) and (value['title'])  %}
                            <a href="{{ url('<front>') }}oeaw_detail/{{ value['insideUri'] }}">{{ value['title'] }}</a>
                        {% elseif value['title'] %}    
                            <a href="{{ value['uri'] }}">{{ value['title'] }}</a>
                        {% elseif value['uri'] %}
                            <a href="{{ value['uri'] }}">{{ value['uri'] }}</a>
                        {% else %}
                            {{ value }}
                        {% endif%}
                        <span class="res-prop-delimiter">,</span>
                    {% endfor %}
                {% else %}
                    {{ result['table']['acdh:hasUrl'][0] }}
                {% endif %}    
                </span>
        </div>
    {% endif%}

    {% if result['table']['acdh:hasPid'] %}
        <div class="res-property">
            <i class="material-icons">&#xE90D;</i>
            <span class="res-prop-label">PID: </span>
            <span class="res-prop-value">
                {% if result['table']['acdh:hasPid'] is iterable %}
                    {% for value in result['table']['acdh:hasPid'] %}
                       {% if (value['insideUri']) and (value['title'])  %}
                            <a href="{{ url('<front>') }}oeaw_detail/{{ value['insideUri'] }}">{{ value['title'] }}</a>
                        {% elseif value['title'] %}    
                            <a href="{{ value['uri'] }}">{{ value['title'] }}</a>
                        {% elseif value['uri'] %}
                            <a href="{{ value['uri'] }}">{{ value['uri'] }}</a>
                        {% elseif 'http' in value  %}
                            <a href="{{ value }}">{{ value }}</a>
                        {% else %}
                            {{ value }}
                        {% endif%}
                        <span class="res-prop-delimiter">,</span>
                    {% endfor %}
                {% else %}
                    {{ result['table']['acdh:hasPid'][0] }}
                {% endif %}   
            </span>
        </div>
    {% endif%}


    {% if result['table']['acdh:hasRelatedProject'] %}
        <div class="res-property">
            <i class="material-icons">&#xE8E1;</i>
            <span class="res-prop-label">Related Project(s): </span>
            <span class="res-prop-value">
                {% if result['table']['acdh:hasRelatedProject'] is iterable %}
                    {% for value in result['table']['acdh:hasRelatedProject'] %}
                        {% if (value['insideUri']) and (value['title']) %}
                            <a href="{{ url('<front>') }}oeaw_detail/{{ value['insideUri'] }}">{{ value['title'] }}</a>
                        {% elseif (value['title']) %}
                            <a href="{{ value['uri'] }}">{{ value['title'] }}</a>
                        {% else %}
                            {{ value }}
                        {% endif%}
                        <span class="res-prop-delimiter">,</span>
                    {% endfor %}
                {% else %}
                    {{ result['table']['acdh:hasRelatedProject'] }}
                {% endif %}
            </span>
        </div>                
    {% endif%}

    {% if result['table']['rdfs:seeAlso'] %}                
        <div class="res-property">
            <i class="material-icons">&#xE02F;</i>
            <span class="res-prop-label">See Also: </span>
            <span class="res-prop-value">
                {% for value in result['table']['rdfs:seeAlso'] %}
                    {% if value['insideUri'] %}
                        <a href="{{ url('<front>') }}oeaw_detail/{{ value['insideUri'] }}">{{ value['title'] }}</a>
                    {% else %}
                        <!-- if the contributor has no acdh id but other 3rd party id, then we will not use the oeaw_detail page -->
                        <a href="{{ value['uri'] }}">{{ value['uri'] }}</a>
                    {% endif%}
                    <span class="res-prop-delimiter">,</span>
                {% endfor %}
            </span>
        </div>
    {% endif%}

{% if result['image'] %}</div>{% endif%}

{% if result['image'] %}	
    <div class="res-inside-wrap col-lg-4 ">	
        <div class="single-res-thumb">
            <a data-lightbox="{{ result['resourceTitle'] }}" href="{{ result['image'] }}"><img src="{{ result['image'] }}"></a>
        </div>
    </div>
{% endif%}