<!-- START : ACDH PERSON template: detailView_Project  -->
{% if result['image'] %}<div class="res-inside-wrap col-lg-8 ">{% endif%}
    
    {%  if result.getTitle() %}
        <div class="res-property">
            <span class="res-title">
                {%  if result.getAccessRestriction() %}
                    {{ include('/modules/oeaw/templates/accesRestrictionFormat.html.twig', {'data': result.getAccessRestriction()|lower } ) }}
                {% endif%}
                {{ result.getTitle() }}
            </span>
        </div>
    {% endif%} 
    
    {%  if result.basicProperties['acdh:hasAlternativeTitle'] %}
        <div class="res-property">
            <i class="material-icons">&#xE264;</i>
            <span class="res-prop-label">{{ "Alternative Title"|trans }}:</span> 
            <span class="res-title">{{ result.basicProperties['acdh:hasAlternativeTitle'] }}</span>
        </div>
    {% endif%}
    
    {% if result.getType() %}
        <div class="res-property">
            <i class="material-icons">&#xE54E;</i>
            <span class="res-prop-label">{{ "Type"|trans }}:</span> 
            <span class="res-prop-value">
                <a href="{{ url('<front>') }}discover/&type={{ result.getType() }}/10">{{ result.getType() }}</a>
            </span>
        </div>
    {% endif%}	
    
    {%  if result.getNonAcdhIdentifiers() %}
        {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result.getNonAcdhIdentifiers(), 'icon': "copyright", 'label': "Identifier(s)" } ) }}
    {% endif%}
  
    {%  if result.basicProperties['acdh:hasCountry'] %}
        {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result.basicProperties['acdh:hasCountry'], 'icon': "subtitles", 'label': "Country" } ) }}
    {% endif%}
        
    {%  if result.basicProperties['acdh:hasRegion'] %}
        {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result.basicProperties['acdh:hasRegion'], 'icon': "subtitles", 'label': "Region" } ) }}
    {% endif%}
        
    {%  if result.basicProperties['acdh:hasCity'] %}
        {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result.basicProperties['acdh:hasCity'], 'icon': "subtitles", 'label': "City" } ) }}
    {% endif%}
    
    {%  if result.basicProperties['acdh:Postcode'] %}
        {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result.basicProperties['acdh:Postcode'], 'icon': "subtitles", 'label': "Postcode" } ) }}
    {% endif%}
    
    {%  if result.basicProperties['acdh:hasAddressLine1'] %}
        {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result.basicProperties['acdh:hasAddressLine1'], 'icon': "subtitles", 'label': "Address" } ) }}            
    {% endif%}
        
    {%  if result.basicProperties['acdh:hasAddressLine2'] %}
        {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result.basicProperties['acdh:hasAddressLine2'], 'icon': "subtitles", 'label': "Address" } ) }}
    {% endif%}
        
    {%  if result.basicProperties['acdh:hasPart'] %}
        {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result.basicProperties['acdh:hasPart'], 'icon': "device_hub", 'label': "Part" } ) }}
    {% endif%}
        
    {%  if result.basicProperties['acdh:isPartOf'] %}
        {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result.basicProperties['acdh:isPartOf'], 'icon': "device_hub", 'label': "Part of" } ) }}
    {% endif%}
    
    {%  if result.basicProperties['acdh:isIdenticalTo'] %}
        {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result.basicProperties['acdh:isIdenticalTo'], 'icon': "", 'label': "Identical To" } ) }}
    {% endif%}
    
    {% if result.extendedProperties %}        
        
        <h3 class="single-res-heading">{{ "Spatial information"|trans }}</h3>
    
        {%  if result.extendedProperties['acdh:hasLatitude'] %}
            {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result.extendedProperties['acdh:hasLatitude'], 'icon': "", 'label': "Latitude" } ) }}
        {% endif %}
        
        {%  if result.extendedProperties['acdh:hasLongitude'] %}
            {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result.extendedProperties['acdh:hasLongitude'], 'icon': "", 'label': "Longitude" } ) }}
        {% endif%}
        
        {%  if result.extendedProperties['acdh:hasWKT'] %}
            {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result.extendedProperties['acdh:hasWKT'], 'icon': "", 'label': "WKT" } ) }}
        {% endif%}
        
        {% if result.extendedProperties['acdh:hasLongitude'] and  result.extendedProperties['acdh:hasLatitude'] %}
            <div class="res-property">
                <span class="res-prop-label">{{"Map"|trans }}: </span>
                 <span class="res-prop-value">
                    <iframe 
                        width="425" height="350" frameborder="0" 
                        scrolling="no" marginheight="0" marginwidth="0" 
                        src="https://www.openstreetmap.org/export/embed.html?bbox={{ result.extendedProperties['acdh:hasLongitude'] }}%2C{{ result.extendedProperties['acdh:hasLatitude'] }}%2C{{ result.extendedProperties['acdh:hasLongitude'] }}%2C{{ result.extendedProperties['acdh:hasLatitude'] }}&amp;layer=mapnik&amp;marker={{ result.extendedProperties['acdh:hasLatitude'] }}%2C{{ result.extendedProperties['acdh:hasLongitude'] }}" 
                        style="border: 1px solid black"
                        >
                            
                    </iframe>
                     <br/><small><a href="https://www.openstreetmap.org/?mlat=48.2082&amp;mlon=16.3288#map=12/{{ result.extendedProperties['acdh:hasLatitude'] }}/{{ result.extendedProperties['acdh:hasLongitude'] }}">View Larger Map</a></small>
                        
                </span>
            </div>
        {% endif%}
        
    {% endif%}        
   
    
{% if result['image'] %}</div>{% endif%}    
{% if result['image'] %}	
    <div class="res-inside-wrap col-lg-4 ">	
        <div class="single-res-thumb">
            <a data-lightbox="{{ result['resourceTitle'] }}" href="{{ result['image'] }}"><img src="{{ result['image'] }}"></a>
        </div>
    </div>
{% endif%}

<!-- END : ACDH PERSON template: detailView_Project  -->