<!-- START : ACDH PERSON template: detailView_Person  -->
{% if result.imageUrl %}<div class="res-inside-wrap col-lg-8 ">{% endif%}
    
    {%  if result.getTitle() %}
        <div class="res-property">
            <span class="res-title">
                 {%  if result.getAccessRestriction() %}
                    {{ include('/modules/oeaw/templates/accesRestrictionFormat.html.twig', {'data': result.getAccessRestriction()|lower } ) }}
                {% endif%}
                {{ result.getTitle() }}
            </span>
        </div>
    {% endif%} 
    
    {% if result.getType() %}
        <div class="res-property">
            <i class="material-icons">&#xE54E;</i>
            <span class="res-prop-label">{{ "Type"|trans }}:</span> 
            <span class="res-prop-value">
                <a href="{{ url('<front>') }}discover/&type={{ result.getType() }}/10">{{ result.getType() }}</a>
            </span>
        </div>
    {% endif%}	
    
    {%  if result.getNonAcdhIdentifiers() %}
        {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result.getNonAcdhIdentifiers(), 'icon': "copyright", 'label': "Identifier(s)" } ) }}
    {% endif%}
    
    {%  if result.basicProperties['acdh:isMemberOf'] %}
        {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result.basicProperties['acdh:isMemberOf'], 'icon': "account_balance", 'label': "is Member Of"} ) }}
    {% endif%}
    
    {% if result.extendedProperties %}
        <h3 class="single-res-heading">{{ "Contact Details"|trans }}</h3>
        
        {% if result.extendedProperties['acdh:hasCountry'] %}
            {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result.extendedProperties['acdh:hasCountry'], 'icon': "subtitles", 'label': "Country"} ) }}
        {% endif%}
        
        {%  if result.extendedProperties['acdh:hasRegion'] %}
            {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result.extendedProperties['acdh:hasRegion'], 'icon': "subtitles", 'label': "Region"} ) }}
        {% endif%}

        {%  if result.extendedProperties['acdh:hasCity'] %}
            {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result.extendedProperties['acdh:hasCity'], 'icon': "subtitles", 'label': "City"} ) }}
        {% endif%}


        {%  if result.extendedProperties['acdh:Postcode'] %}
            {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result.extendedProperties['acdh:Postcode'], 'icon': "subtitles", 'label': "Postcode"} ) }}
        {% endif%}

        {%  if result.extendedProperties['acdh:hasAddressLine1'] %}
            {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result.extendedProperties['acdh:hasAddressLine1'], 'icon': "subtitles", 'label': "Address"} ) }}            
        {% endif%}

        {%  if result.extendedProperties['acdh:hasAddressLine2'] %}
            {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result.extendedProperties['acdh:hasAddressLine2'], 'icon': "subtitles", 'label': "Address"} ) }}
        {% endif%}
        
        
        {%  if result.extendedProperties['acdh:hasEmail'] %}
            {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result.extendedProperties['acdh:hasEmail'], 'icon': "subtitles", 'label': "Email"} ) }}
        {% endif%}
        
        {%  if result.extendedProperties['acdh:hasUrl'] %}
            {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result.extendedProperties['acdh:hasUrl'], 'icon': "subtitles", 'label': "Url"} ) }}
        {% endif%}
    
        
    {% endif%}

    
{% if result.imageUrl %}</div>{% endif%}    
{% if result.imageUrl %}	
    <div class="res-inside-wrap col-lg-4 ">	
        <div class="single-res-thumb">
            <a data-lightbox="{{ result['resourceTitle'] }}" href="{{ result.imageUrl }}"><img src="{{ result.imageUrl }}"></a>
        </div>
    </div>
{% endif%}

<!-- END : ACDH PERSON template: detailView_Person  -->