<!-- START : ACDH PERSON template: detailView_Project  -->
{% if result['image'] %}<div class="res-inside-wrap col-lg-8 ">{% endif%}
    
    {%  if result['basic']['acdh:hasTitle'] %}
        <div class="res-property">
            <span class="res-title">{{ result['basic']['acdh:hasTitle'][0] }}</span>
        </div>
    {% endif%} 
    
    {%  if result['basic']['acdh:hasAlternativeTitle'] %}
        <div class="res-property">
            <i class="material-icons">&#xE264;</i>
            <span class="res-prop-label">Alternative Title:</span> 
            <span class="res-title">{{ result['basic']['acdh:hasAlternativeTitle'][0] }}</span>
        </div>
    {% endif%}
    
    {% if result['basic']['acdh_rdf:type'] %}
        <div class="res-property">
            <i class="material-icons">&#xE54E;</i>
            <span class="res-prop-label">Type:</span> 
            <span class="res-prop-value">
                <a href="{{ url('<front>') }}discover/&type={{ result['basic']['acdh_rdf:type']['title'] }}/10">{{ result['basic']['acdh_rdf:type']['title'] }}</a>
            </span>
        </div>
    {% endif%}	
    
    {%  if result['basic']['acdh:hasIdentifier'] %}
        <div class="res-property">
            <i class="material-icons">&#xE90C;</i>
            <span class="res-prop-label">Identifier(s): </span>
             <span class="res-prop-value">
                {% if result['basic']['acdh:hasIdentifier'] is iterable %}
                    {% for value in result['basic']['acdh:hasIdentifier'] %}
                        {% if (value['insideUri']) and (value['title'])  %}
                            <a href="{{ url('<front>') }}oeaw_detail/{{ value['insideUri'] }}">{{ value['title'] }}</a>
                        {% elseif value['title'] %}    
                            <a href="{{ value['uri'] }}">{{ value['title'] }}</a>
                        {% elseif value['uri'] %}
                            <a href="{{ value['uri'] }}">{{ value['uri'] }}</a>
                        {% else %}
                            {{ value }}
                        {% endif%}
                        <span class="res-prop-delimiter">,</span>
                    {% endfor %}
                {% else %}
                    {{ result['basic']['acdh:hasIdentifier'][0] }}
                {% endif %}
            </span>
        </div>
    {% endif%}
  
    {%  if result['basic']['acdh:hasCountry'] %}
            <div class="res-property">
                <i class="material-icons">&#xE048;</i>
                <span class="res-prop-label">Country: </span>
                 <span class="res-prop-value">
                    {% if result['basic']['acdh:hasCountry'] is iterable %}
                        {% for value in result['basic']['acdh:hasCountry'] %}
                            {% if (value['insideUri']) and (value['title'])  %}
                                <a href="{{ url('<front>') }}oeaw_detail/{{ value['insideUri'] }}">{{ value['title'] }}</a>
                            {% elseif value['title'] %}    
                                <a href="{{ value['uri'] }}">{{ value['title'] }}</a>
                            {% elseif value['uri'] %}
                                <a href="{{ value['uri'] }}">{{ value['uri'] }}</a>
                            {% else %}
                                {{ value }}
                            {% endif%}
                            <span class="res-prop-delimiter">,</span>
                        {% endfor %}
                    {% else %}
                        {{ result['basic']['acdh:hasCountry'] }}
                    {% endif %}
                </span>
            </div>
        {% endif%}
        
        {%  if result['basic']['acdh:hasRegion'] %}
            <div class="res-property">
                <i class="material-icons">&#xE048;</i>
                <span class="res-prop-label">Region: </span>
                 <span class="res-prop-value">
                    {% if result['basic']['acdh:hasRegion'] is iterable %}
                        {% for value in result['basic']['acdh:hasRegion'] %}
                            {% if (value['insideUri']) and (value['title'])  %}
                                <a href="{{ url('<front>') }}oeaw_detail/{{ value['insideUri'] }}">{{ value['title'] }}</a>
                            {% elseif value['title'] %}    
                                <a href="{{ value['uri'] }}">{{ value['title'] }}</a>
                            {% elseif value['uri'] %}
                                <a href="{{ value['uri'] }}">{{ value['uri'] }}</a>
                            {% else %}
                                {{ value }}
                            {% endif%}
                            <span class="res-prop-delimiter">,</span>
                        {% endfor %}
                    {% else %}
                        {{ result['basic']['acdh:hasRegion'] }}
                    {% endif %}
                </span>
            </div>
        {% endif%}
        
        {%  if result['basic']['acdh:hasCity'] %}
            <div class="res-property">
                <i class="material-icons">&#xE048;</i>
                <span class="res-prop-label">City: </span>
                 <span class="res-prop-value">
                    {% if result['basic']['acdh:hasCity'] is iterable %}
                        {% for value in result['basic']['acdh:hasCity'] %}
                            {% if (value['insideUri']) and (value['title'])  %}
                                <a href="{{ url('<front>') }}oeaw_detail/{{ value['insideUri'] }}">{{ value['title'] }}</a>
                            {% elseif value['title'] %}    
                                <a href="{{ value['uri'] }}">{{ value['title'] }}</a>
                            {% elseif value['uri'] %}
                                <a href="{{ value['uri'] }}">{{ value['uri'] }}</a>
                            {% else %}
                                {{ value }}
                            {% endif%}
                            <span class="res-prop-delimiter">,</span>
                        {% endfor %}
                    {% else %}
                        {{ result['basic']['acdh:hasCity'] }}
                    {% endif %}
                </span>
            </div>
        {% endif%}
        
        
        {%  if result['basic']['acdh:Postcode'] %}
            <div class="res-property">
                <i class="material-icons">&#xE048;</i>
                <span class="res-prop-label">Postcode: </span>
                 <span class="res-prop-value">
                    {% if result['basic']['acdh:Postcode'] is iterable %}
                        {% for value in result['basic']['acdh:Postcode'] %}
                            {% if (value['insideUri']) and (value['title'])  %}
                                <a href="{{ url('<front>') }}oeaw_detail/{{ value['insideUri'] }}">{{ value['title'] }}</a>
                            {% elseif value['title'] %}    
                                <a href="{{ value['uri'] }}">{{ value['title'] }}</a>
                            {% elseif value['uri'] %}
                                <a href="{{ value['uri'] }}">{{ value['uri'] }}</a>
                            {% else %}
                                {{ value }}
                            {% endif%}
                            <span class="res-prop-delimiter">,</span>
                        {% endfor %}
                    {% else %}
                        {{ result['basic']['acdh:Postcode'] }}
                    {% endif %}
                </span>
            </div>
        {% endif%}
        
        
        {%  if result['basic']['acdh:hasAddressLine1'] %}
            <div class="res-property">
                <i class="material-icons">&#xE048;</i>
                <span class="res-prop-label">Address: </span>
                 <span class="res-prop-value">
                    {% if result['basic']['acdh:hasAddressLine1'] is iterable %}
                        {% for value in result['basic']['acdh:hasAddressLine1'] %}
                            {% if (value['insideUri']) and (value['title'])  %}
                                <a href="{{ url('<front>') }}oeaw_detail/{{ value['insideUri'] }}">{{ value['title'] }}</a>
                            {% elseif value['title'] %}    
                                <a href="{{ value['uri'] }}">{{ value['title'] }}</a>
                            {% elseif value['uri'] %}
                                <a href="{{ value['uri'] }}">{{ value['uri'] }}</a>
                            {% else %}
                                {{ value }}
                            {% endif%}
                            <span class="res-prop-delimiter">,</span>
                        {% endfor %}
                    {% else %}
                        {{ result['basic']['acdh:hasAddressLine1'] }}
                    {% endif %}
                </span>
            </div>
        {% endif%}
        
        {%  if result['basic']['acdh:hasAddressLine2'] %}
            <div class="res-property">
                <i class="material-icons">&#xE048;</i>
                <span class="res-prop-label">Address: </span>
                 <span class="res-prop-value">
                    {% if result['basic']['acdh:hasAddressLine2'] is iterable %}
                        {% for value in result['basic']['acdh:hasAddressLine2'] %}
                            {% if (value['insideUri']) and (value['title'])  %}
                                <a href="{{ url('<front>') }}oeaw_detail/{{ value['insideUri'] }}">{{ value['title'] }}</a>
                            {% elseif value['title'] %}    
                                <a href="{{ value['uri'] }}">{{ value['title'] }}</a>
                            {% elseif value['uri'] %}
                                <a href="{{ value['uri'] }}">{{ value['uri'] }}</a>
                            {% else %}
                                {{ value }}
                            {% endif%}
                            <span class="res-prop-delimiter">,</span>
                        {% endfor %}
                    {% else %}
                        {{ result['basic']['acdh:hasAddressLine2'] }}
                    {% endif %}
                </span>
            </div>
        {% endif%}
        
        {%  if result['basic']['acdh:hasPart'] %}
            <div class="res-property">
                <i class="material-icons">&#xE335;</i>
                <span class="res-prop-label">Part: </span>
                 <span class="res-prop-value">
                    {% if result['basic']['acdh:hasPart'] is iterable %}
                        {% for value in result['basic']['acdh:hasPart'] %}
                            {% if (value['insideUri']) and (value['title'])  %}
                                <a href="{{ url('<front>') }}oeaw_detail/{{ value['insideUri'] }}">{{ value['title'] }}</a>
                            {% elseif value['title'] %}    
                                <a href="{{ value['uri'] }}">{{ value['title'] }}</a>
                            {% elseif value['uri'] %}
                                <a href="{{ value['uri'] }}">{{ value['uri'] }}</a>
                            {% else %}
                                {{ value }}
                            {% endif%}
                            <span class="res-prop-delimiter">,</span>
                        {% endfor %}
                    {% else %}
                        {{ result['basic']['acdh:hasPart'] }}
                    {% endif %}
                </span>
            </div>
        {% endif%}
        
        {%  if result['basic']['acdh:isPartOf'] %}
            <div class="res-property">
                <i class="material-icons">&#xE335;</i>
                <span class="res-prop-label">Part: </span>
                 <span class="res-prop-value">
                    {% if result['basic']['acdh:isPartOf'] is iterable %}
                        {% for value in result['basic']['acdh:isPartOf'] %}
                            {% if (value['insideUri']) and (value['title'])  %}
                                <a href="{{ url('<front>') }}oeaw_detail/{{ value['insideUri'] }}">{{ value['title'] }}</a>
                            {% elseif value['title'] %}    
                                <a href="{{ value['uri'] }}">{{ value['title'] }}</a>
                            {% elseif value['uri'] %}
                                <a href="{{ value['uri'] }}">{{ value['uri'] }}</a>
                            {% else %}
                                {{ value }}
                            {% endif%}
                            <span class="res-prop-delimiter">,</span>
                        {% endfor %}
                    {% else %}
                        {{ result['basic']['acdh:isPartOf'] }}
                    {% endif %}
                </span>
            </div>
        {% endif%}
    
    {%  if result['basic']['acdh:isIdenticalTo'] %}
        <div class="res-property">
            <span class="res-prop-label">Identical To: </span>
             <span class="res-prop-value">
                {% if result['basic']['acdh:isIdenticalTo'] is iterable %}
                    {% for value in result['basic']['acdh:isIdenticalTo'] %}
                        {% if (value['insideUri']) and (value['title'])  %}
                            <a href="{{ url('<front>') }}oeaw_detail/{{ value['insideUri'] }}">{{ value['title'] }}</a>
                        {% elseif value['title'] %}    
                            <a href="{{ value['uri'] }}">{{ value['title'] }}</a>
                        {% elseif value['uri'] %}
                            <a href="{{ value['uri'] }}">{{ value['uri'] }}</a>
                        {% else %}
                            {{ value }}
                        {% endif%}
                        <span class="res-prop-delimiter">,</span>
                    {% endfor %}
                {% else %}
                    {{ result['basic']['acdh:isIdenticalTo'] }}
                {% endif %}
            </span>
        </div>
    {% endif%}
    
    {% if result['extended'] %}
        <h3 class="single-res-heading">Spatial information</h3>
    
        {%  if result['extended']['acdh:hasLatitude'] %}
            <div class="res-property">
                <span class="res-prop-label">Latitude: </span>
                 <span class="res-prop-value">
                    {% if result['extended']['acdh:hasLatitude'] is iterable %}
                        {% for value in result['extended']['acdh:hasLatitude'] %}
                            {% if (value['insideUri']) and (value['title'])  %}
                                <a href="{{ url('<front>') }}oeaw_detail/{{ value['insideUri'] }}">{{ value['title'] }}</a>
                            {% elseif value['title'] %}    
                                <a href="{{ value['uri'] }}">{{ value['title'] }}</a>
                            {% elseif value['uri'] %}
                                <a href="{{ value['uri'] }}">{{ value['uri'] }}</a>
                            {% else %}
                                {{ value }}
                            {% endif%}
                            <span class="res-prop-delimiter">,</span>
                        {% endfor %}
                    {% else %}
                        {{ result['extended']['acdh:hasLatitude'] }}
                    {% endif %}
                </span>
            </div>
        {% endif%}
        
        {%  if result['extended']['acdh:hasLongitude'] %}
            <div class="res-property">
                <span class="res-prop-label">Longitude: </span>
                 <span class="res-prop-value">
                    {% if result['extended']['acdh:hasLongitude'] is iterable %}
                        {% for value in result['extended']['acdh:hasLongitude'] %}
                            {% if (value['insideUri']) and (value['title'])  %}
                                <a href="{{ url('<front>') }}oeaw_detail/{{ value['insideUri'] }}">{{ value['title'] }}</a>
                            {% elseif value['title'] %}    
                                <a href="{{ value['uri'] }}">{{ value['title'] }}</a>
                            {% elseif value['uri'] %}
                                <a href="{{ value['uri'] }}">{{ value['uri'] }}</a>
                            {% else %}
                                {{ value }}
                            {% endif%}
                            <span class="res-prop-delimiter">,</span>
                        {% endfor %}
                    {% else %}
                        {{ result['extended']['acdh:hasLongitude'] }}
                    {% endif %}
                </span>
            </div>
        {% endif%}
        
        {%  if result['extended']['acdh:hasWKT'] %}
            <div class="res-property">
                <span class="res-prop-label">WKT: </span>
                 <span class="res-prop-value">
                    {% if result['extended']['acdh:hasWKT'] is iterable %}
                        {% for value in result['extended']['acdh:hasWKT'] %}
                            {% if (value['insideUri']) and (value['title'])  %}
                                <a href="{{ url('<front>') }}oeaw_detail/{{ value['insideUri'] }}">{{ value['title'] }}</a>
                            {% elseif value['title'] %}    
                                <a href="{{ value['uri'] }}">{{ value['title'] }}</a>
                            {% elseif value['uri'] %}
                                <a href="{{ value['uri'] }}">{{ value['uri'] }}</a>
                            {% else %}
                                {{ value }}
                            {% endif%}
                            <span class="res-prop-delimiter">,</span>
                        {% endfor %}
                    {% else %}
                        {{ result['extended']['acdh:hasWKT'] }}
                    {% endif %}
                </span>
            </div>
        {% endif%}
        
        {% if result['extended']['acdh:hasLongitude'] and  result['extended']['acdh:hasLatitude'] %}
            <div class="res-property">
                <span class="res-prop-label">MAP: </span>
                 <span class="res-prop-value">
                    <iframe 
                        width="425" height="350" frameborder="0" 
                        scrolling="no" marginheight="0" marginwidth="0" 
                        src="https://www.openstreetmap.org/export/embed.html?bbox={{ result['extended']['acdh:hasLongitude'][0] }}%2C{{ result['extended']['acdh:hasLatitude'][0] }}%2C{{ result['extended']['acdh:hasLongitude'][0] }}%2C{{ result['extended']['acdh:hasLatitude'][0] }}&amp;layer=mapnik&amp;marker={{ result['extended']['acdh:hasLatitude'][0] }}%2C{{ result['extended']['acdh:hasLongitude'][0] }}" 
                        style="border: 1px solid black"
                        >
                            
                    </iframe>
                     <br/><small><a href="https://www.openstreetmap.org/?mlat=48.2082&amp;mlon=16.3288#map=12/{{ result['extended']['acdh:hasLatitude'][0] }}/{{ result['extended']['acdh:hasLongitude'][0] }}">View Larger Map</a></small>
                        
                </span>
            </div>
        {% endif%}
        
    {% endif%}        
   
    
{% if result['image'] %}</div>{% endif%}    
{% if result['image'] %}	
    <div class="res-inside-wrap col-lg-4 ">	
        <div class="single-res-thumb">
            <a data-lightbox="{{ result['resourceTitle'] }}" href="{{ result['image'] }}"><img src="{{ result['image'] }}"></a>
        </div>
    </div>
{% endif%}

<!-- END : ACDH PERSON template: detailView_Project  -->