<!-- START : ACDH PERSON template: detailView_Project  -->
{% if result['image'] %}<div class="res-inside-wrap col-lg-8 ">{% endif%}
    
    {%  if result['basic']['acdh:hasTitle'] %}
        <div class="res-property">
            <span class="res-title">{{ result['basic']['acdh:hasTitle'][0] }}</span>
        </div>
    {% endif%} 
    
    {%  if result['basic']['acdh:hasAlternativeTitle'] %}
        <div class="res-property">
            <i class="material-icons">&#xE264;</i>
            <span class="res-prop-label">Alternative Title:</span> 
            <span class="res-title">{{ result['basic']['acdh:hasAlternativeTitle'][0] }}</span>
        </div>
    {% endif%}
    
    {% if result['basic']['acdh_rdf:type'] %}
        <div class="res-property">
            <i class="material-icons">&#xE54E;</i>
            <span class="res-prop-label">Type:</span> 
            <span class="res-prop-value">
                <a href="{{ url('<front>') }}discover/&type={{ result['basic']['acdh_rdf:type']['title'] }}/10">{{ result['basic']['acdh_rdf:type']['title'] }}</a>
            </span>
        </div>
    {% endif%}	
    
    {%  if result['basic']['acdh:hasIdentifier'] %}
        <div class="res-property">
            <i class="material-icons">&#xE90C;</i>
            <span class="res-prop-label">Identifier(s): </span>
             <span class="res-prop-value">
                {% if result['basic']['acdh:hasIdentifier'] is iterable %}
                    {% for value in result['basic']['acdh:hasIdentifier'] %}
                        {% if (value['insideUri']) and (value['title'])  %}
                            <a href="{{ url('<front>') }}oeaw_detail/{{ value['insideUri'] }}">{{ value['title'] }}</a>
                        {% elseif value['title'] %}    
                            <a href="{{ value['uri'] }}">{{ value['title'] }}</a>
                        {% elseif value['uri'] %}
                            <a href="{{ value['uri'] }}">{{ value['uri'] }}</a>
                        {% else %}
                            {{ value }}
                        {% endif%}
                        <span class="res-prop-delimiter">,</span>
                    {% endfor %}
                {% else %}
                    {{ result['basic']['acdh:hasIdentifier'][0] }}
                {% endif %}
            </span>
        </div>
    {% endif%}
  
    {%  if result['basic']['acdh:hasCountry'] %}
            <div class="res-property">
                <i class="material-icons">&#xE048;</i>
                <span class="res-prop-label">Country: </span>
                 <span class="res-prop-value">
                    {% if result['basic']['acdh:hasCountry'] is iterable %}
                        {% for value in result['basic']['acdh:hasCountry'] %}
                            {% if (value['insideUri']) and (value['title'])  %}
                                <a href="{{ url('<front>') }}oeaw_detail/{{ value['insideUri'] }}">{{ value['title'] }}</a>
                            {% elseif value['title'] %}    
                                <a href="{{ value['uri'] }}">{{ value['title'] }}</a>
                            {% elseif value['uri'] %}
                                <a href="{{ value['uri'] }}">{{ value['uri'] }}</a>
                            {% else %}
                                {{ value }}
                            {% endif%}
                            <span class="res-prop-delimiter">,</span>
                        {% endfor %}
                    {% else %}
                        {{ result['basic']['acdh:hasCountry'] }}
                    {% endif %}
                </span>
            </div>
        {% endif%}
        
        {%  if result['basic']['acdh:hasRegion'] %}
            <div class="res-property">
                <i class="material-icons">&#xE048;</i>
                <span class="res-prop-label">Region: </span>
                 <span class="res-prop-value">
                    {% if result['basic']['acdh:hasRegion'] is iterable %}
                        {% for value in result['basic']['acdh:hasRegion'] %}
                            {% if (value['insideUri']) and (value['title'])  %}
                                <a href="{{ url('<front>') }}oeaw_detail/{{ value['insideUri'] }}">{{ value['title'] }}</a>
                            {% elseif value['title'] %}    
                                <a href="{{ value['uri'] }}">{{ value['title'] }}</a>
                            {% elseif value['uri'] %}
                                <a href="{{ value['uri'] }}">{{ value['uri'] }}</a>
                            {% else %}
                                {{ value }}
                            {% endif%}
                            <span class="res-prop-delimiter">,</span>
                        {% endfor %}
                    {% else %}
                        {{ result['basic']['acdh:hasRegion'] }}
                    {% endif %}
                </span>
            </div>
        {% endif%}
        
        {%  if result['basic']['acdh:hasCity'] %}
            <div class="res-property">
                <i class="material-icons">&#xE048;</i>
                <span class="res-prop-label">City: </span>
                 <span class="res-prop-value">
                    {% if result['basic']['acdh:hasCity'] is iterable %}
                        {% for value in result['basic']['acdh:hasCity'] %}
                            {% if (value['insideUri']) and (value['title'])  %}
                                <a href="{{ url('<front>') }}oeaw_detail/{{ value['insideUri'] }}">{{ value['title'] }}</a>
                            {% elseif value['title'] %}    
                                <a href="{{ value['uri'] }}">{{ value['title'] }}</a>
                            {% elseif value['uri'] %}
                                <a href="{{ value['uri'] }}">{{ value['uri'] }}</a>
                            {% else %}
                                {{ value }}
                            {% endif%}
                            <span class="res-prop-delimiter">,</span>
                        {% endfor %}
                    {% else %}
                        {{ result['basic']['acdh:hasCity'] }}
                    {% endif %}
                </span>
            </div>
        {% endif%}
        
        
        {%  if result['basic']['acdh:Postcode'] %}
            <div class="res-property">
                <i class="material-icons">&#xE048;</i>
                <span class="res-prop-label">Postcode: </span>
                 <span class="res-prop-value">
                    {% if result['basic']['acdh:Postcode'] is iterable %}
                        {% for value in result['basic']['acdh:Postcode'] %}
                            {% if (value['insideUri']) and (value['title'])  %}
                                <a href="{{ url('<front>') }}oeaw_detail/{{ value['insideUri'] }}">{{ value['title'] }}</a>
                            {% elseif value['title'] %}    
                                <a href="{{ value['uri'] }}">{{ value['title'] }}</a>
                            {% elseif value['uri'] %}
                                <a href="{{ value['uri'] }}">{{ value['uri'] }}</a>
                            {% else %}
                                {{ value }}
                            {% endif%}
                            <span class="res-prop-delimiter">,</span>
                        {% endfor %}
                    {% else %}
                        {{ result['basic']['acdh:Postcode'] }}
                    {% endif %}
                </span>
            </div>
        {% endif%}
        
        
        {%  if result['basic']['acdh:hasAddressLine1'] %}
            <div class="res-property">
                <i class="material-icons">&#xE048;</i>
                <span class="res-prop-label">Address: </span>
                 <span class="res-prop-value">
                    {% if result['basic']['acdh:hasAddressLine1'] is iterable %}
                        {% for value in result['basic']['acdh:hasAddressLine1'] %}
                            {% if (value['insideUri']) and (value['title'])  %}
                                <a href="{{ url('<front>') }}oeaw_detail/{{ value['insideUri'] }}">{{ value['title'] }}</a>
                            {% elseif value['title'] %}    
                                <a href="{{ value['uri'] }}">{{ value['title'] }}</a>
                            {% elseif value['uri'] %}
                                <a href="{{ value['uri'] }}">{{ value['uri'] }}</a>
                            {% else %}
                                {{ value }}
                            {% endif%}
                            <span class="res-prop-delimiter">,</span>
                        {% endfor %}
                    {% else %}
                        {{ result['basic']['acdh:hasAddressLine1'] }}
                    {% endif %}
                </span>
            </div>
        {% endif%}
        
        {%  if result['basic']['acdh:hasAddressLine2'] %}
            <div class="res-property">
                <i class="material-icons">&#xE048;</i>
                <span class="res-prop-label">Address: </span>
                 <span class="res-prop-value">
                    {% if result['basic']['acdh:hasAddressLine2'] is iterable %}
                        {% for value in result['basic']['acdh:hasAddressLine2'] %}
                            {% if (value['insideUri']) and (value['title'])  %}
                                <a href="{{ url('<front>') }}oeaw_detail/{{ value['insideUri'] }}">{{ value['title'] }}</a>
                            {% elseif value['title'] %}    
                                <a href="{{ value['uri'] }}">{{ value['title'] }}</a>
                            {% elseif value['uri'] %}
                                <a href="{{ value['uri'] }}">{{ value['uri'] }}</a>
                            {% else %}
                                {{ value }}
                            {% endif%}
                            <span class="res-prop-delimiter">,</span>
                        {% endfor %}
                    {% else %}
                        {{ result['basic']['acdh:hasAddressLine2'] }}
                    {% endif %}
                </span>
            </div>
        {% endif%}
        
        {%  if result['basic']['acdh:hasEmail'] %}
            <div class="res-property">
                <i class="material-icons">&#xE048;</i>
                <span class="res-prop-label">Email: </span>
                 <span class="res-prop-value">
                    {% if result['basic']['acdh:hasEmail'] is iterable %}
                        {% for value in result['basic']['acdh:hasEmail'] %}
                            {% if (value['insideUri']) and (value['title'])  %}
                                <a href="{{ url('<front>') }}oeaw_detail/{{ value['insideUri'] }}">{{ value['title'] }}</a>
                            {% elseif value['title'] %}    
                                <a href="{{ value['uri'] }}">{{ value['title'] }}</a>
                            {% elseif value['uri'] %}
                                <a href="{{ value['uri'] }}">{{ value['uri'] }}</a>
                            {% else %}
                                {{ value }}
                            {% endif%}
                            <span class="res-prop-delimiter">,</span>
                        {% endfor %}
                    {% else %}
                        {{ result['basic']['acdh:hasEmail'] }}
                    {% endif %}
                </span>
            </div>
        {% endif%}
    
    {%  if result['basic']['acdh:hasUrl'] %}
        <div class="res-property">
            <i class="material-icons">&#xE051;</i>
            <span class="res-prop-label">Url: </span>
             <span class="res-prop-value">
                {% if result['basic']['acdh:hasUrl'] is iterable %}
                    {% for value in result['basic']['acdh:hasUrl'] %}
                        {% if (value['insideUri']) and (value['title'])  %}
                            <a href="{{ url('<front>') }}oeaw_detail/{{ value['insideUri'] }}">{{ value['title'] }}</a>
                        {% elseif value['title'] %}    
                            <a href="{{ value['uri'] }}">{{ value['title'] }}</a>
                        {% elseif value['uri'] %}
                            <a href="{{ value['uri'] }}">{{ value['uri'] }}</a>
                        {% else %}
                            {{ value }}
                        {% endif%}
                        <span class="res-prop-delimiter">,</span>
                    {% endfor %}
                {% else %}
                    {{ result['basic']['acdh:hasUrl'] }}
                {% endif %}
            </span>
        </div>
    {% endif%}
    
    <div>
        <div class="res-act-button">
            <a href="#" id="showIsMember" data-tableurl="{{ insideUrl }}">Get Member(s) </a>
        </div>
        <div id="isMemberTableDiv" style="display: none;">
            <h3 class="single-res-heading">Member(s)</h3>
            <table class="isMemberTable table table-striped" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Value(s)</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>    
    </div>
        
    
    {% if result['extended'] %}
        <h3 class="single-res-heading">Involved In:</h3>
        
    {% endif%}        
        
    
{% if result['image'] %}</div>{% endif%}    
{% if result['image'] %}	
    <div class="res-inside-wrap col-lg-4 ">	
        <div class="single-res-thumb">
            <a data-lightbox="{{ result['resourceTitle'] }}" href="{{ result['image'] }}"><img src="{{ result['image'] }}"></a>
        </div>
    </div>
{% endif%}

<!-- END : ACDH PERSON template: detailView_Project  -->