<!-- START : ACDH PERSON template: detailView_Project  -->
{% if result['image'] %}<div class="res-inside-wrap col-lg-8 ">{% endif%}
    
    {%  if result.getTitle() %}
        <div class="res-property">
            <span class="res-title">
                {%  if result.getAccessRestriction() %}
                    {{ include('/modules/oeaw/templates/accesRestrictionFormat.html.twig', {'data': result.getAccessRestriction()|lower } ) }}
                {% endif%}
                {{ result.getTitle() }}
            </span>
        </div>
    {% endif%} 
    
    {%  if result.basicProperties['acdh:hasAlternativeTitle'] %}
        <div class="res-property">
            <i class="material-icons">&#xE264;</i>
            <span class="res-prop-label">{{ "Alternative Title"|trans }}:</span> 
            <span class="res-title">{{ result.basicProperties['acdh:hasAlternativeTitle'][0] }}</span>
        </div>
    {% endif%}
    
    {% if result.getType() %}
        <div class="res-property">
            <i class="material-icons">&#xE54E;</i>
            <span class="res-prop-label">{{ "Type"|trans }}:</span> 
            <span class="res-prop-value">
                <a href="{{ url('<front>') }}discover/&type={{ result.getType() }}/10">{{ result.getType() }}</a>
            </span>
        </div>
    {% endif%}	
    
    {%  if result.getNonAcdhIdentifiers() %}
        {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result.getNonAcdhIdentifiers(), 'icon': "copyright", 'label': "Identifier(s)" } ) }}
    {% endif%}
    
    {% if result.basicProperties['acdh:hasAuthor'] %}
        {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result.basicProperties['acdh:hasAuthor'], 'icon': "person_add", 'label': "Author(s)" } ) }}
    {% endif%}	
    
    {% if result.basicProperties['acdh:hasEditor'] %}
        {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result.basicProperties['acdh:hasEditor'], 'icon': "person_add", 'label': "Editor(s)" } ) }}
    {% endif%}	
    
    {% if result.basicProperties['acdh:hasSeriesInformation'] %}
        {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result.basicProperties['acdh:hasSeriesInformation'], 'icon': "", 'label': "Series information" } ) }}
    {% endif%}	
    
    {% if result.basicProperties['acdh:hasPages'] %}
        {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result.basicProperties['acdh:hasPages'], 'icon': "", 'label': "Page(s)" } ) }}
    {% endif%}	
    
     {%  if result.basicProperties['acdh:hasRegion'] %}
         {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result.basicProperties['acdh:hasRegion'], 'icon': "", 'label': "Region" } ) }}
    {% endif%}
        
    {%  if result.basicProperties['acdh:hasCity'] %}
        {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result.basicProperties['acdh:hasCity'], 'icon': "subtitles", 'label': "City" } ) }}
    {% endif%}
        
    {%  if result.basicProperties['acdh:hasPublisher'] %}
        {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result.basicProperties['acdh:hasPublisher'], 'icon': "", 'label': "Publisher" } ) }}
    {% endif%}
    
    {% if result.basicProperties['acdh:hasUrl'] %}
        {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result.basicProperties['acdh:hasUrl'], 'icon': "web", 'label': "Url" } ) }}
    {% endif%}
        
            
    {% if result.basicProperties['acdh:hasNonLinkedIdentifier'] %}
        {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result.basicProperties['acdh:hasNonLinkedIdentifier'], 'icon': "", 'label': "Non Linked Identifier" } ) }}
    {% endif%}
        
    {% if result.basicProperties['acdh:hasEditorialPractice'] %}
        {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result.basicProperties['acdh:hasEditorialPractice'], 'icon': "", 'label': "Editorial Practice" } ) }}
    {% endif%}
        
    {%  if result.extendedProperties['acdh:hasNote'] %}
        {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result.extendedProperties['acdh:hasNote'], 'icon': "", 'label': "Note" } ) }}
    {% endif%}
        
    {%  if result.extendedProperties['acdh:hasLanguage'] %}
        {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result.extendedProperties['acdh:hasLanguage'], 'icon': "", 'label': "Language" } ) }}
    {% endif%}
   
    
    {% if result.extendedProperties %}
        <h3 class="single-res-heading">Involved In:</h3>
        
    {% endif%}        
        
    
{% if result['image'] %}</div>{% endif%}    
{% if result['image'] %}	
    <div class="res-inside-wrap col-lg-4 ">	
        <div class="single-res-thumb">
            <a data-lightbox="{{ result['resourceTitle'] }}" href="{{ result['image'] }}"><img src="{{ result['image'] }}"></a>
        </div>
    </div>
{% endif%}

<!-- END : ACDH PERSON template: detailView_Project  -->