{% if result.imageUrl %}<div class="res-inside-wrap col-lg-8 ">{% endif%}
    
    <!---- TITLE --->
    {%  if result.title %}
        <div class="res-property">
            <span class="res-title">
                {%  if result.getAccessRestriction() %}
                    {{ include('/modules/oeaw/templates/accesRestrictionFormat.html.twig', {'data': result.getAccessRestriction()|lower } ) }}
                {% endif%}
                {{ result.title }}
            </span>
        </div>
    {% endif%} 
    
    <!---- TYPE --->
    {% if result.type %}
        <div class="res-property">
            <i class="material-icons">&#xE54E;</i>
            <span class="res-prop-label">{{ "Type"|trans }}:</span> 
            <span class="res-prop-value">
                <a href="/browser/discover/&type={{ result.type }}/10">{{ result.type }}</a>
            </span>
        </div>
    {% endif%}		
    
    
    <!---- CONTACT --->
    {% if result.table['acdh:hasContact'] %}
        {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result.table['acdh:hasContact'], 'icon': "person_add", 'label': "Contact(s)" } ) }}
    {% endif%}
    
    <!---- EDITOR --->    
    {% if result.table['acdh:hasEditor'] %}
        {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result.table['acdh:hasEditor'], 'icon': "people", 'label': "Editor(s)" } ) }}
    {% endif%}	
    
    <!---- AUTHOR --->
    {% if result.table['acdh:hasAuthor'] %}
        {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result.table['acdh:hasAuthor'], 'icon': "people", 'label': "Author(s)" } ) }}
    {% endif%}	
    
    <!---- CREATOR --->
    {% if result.table['acdh:hasCreator'] %}
        {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result.table['acdh:hasCreator'], 'icon': "people", 'label': "Creator(s)" } ) }}
    {% endif%}	
    
    <!---- CURATOR --->
    {% if result.table['acdh:hasCurator'] %}
        {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result.table['acdh:hasCurator'], 'icon': "people", 'label': "Curator(s)" } ) }}
    {% endif%}
    
    <!---- CONTRIBUTOR --->
    {% if result.table['acdh:hasContributor'] %}
        {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result.table['acdh:hasContributor'], 'icon': "person", 'label': "Contributor(s)" } ) }}
    {% endif%}

    <!---- CREATED DATE --->
    {% if result.table['acdh:hasCreatedDate'][0] %}
        {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result.table['acdh:hasCreatedDate'], 'icon': "today", 'label': "Created Date" } ) }}
    {% endif%}

    <!---- CREATION START --->
    {% if result.table['acdh:hasCreationStartDate'][0] %}
        {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result.table['acdh:hasCreationStartDate'], 'icon': "today", 'label': "Creation Start Date" } ) }}
    {% endif%}

    <!---- CREATION END --->
    {% if result.table['acdh:hasCreationEndDate'][0] %}
        {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result.table['acdh:hasCreationEndDate'], 'icon': "today", 'label': "Creation End Date" } ) }}        
    {% endif%}
    
    <!---- AVAILABLE DATE --->
    {% if result.table['acdh:hasAvailableDate'][0] %}
        {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result.table['acdh:hasAvailableDate'], 'icon': "today", 'label': "Available Date" } ) }}
    {% endif%}
    
    <!---- EXTENT --->
    {% if result.table['acdh:hasExtent'] %}
        {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result.table['acdh:hasExtent'], 'icon': "dehaze", 'label': "Extent" } ) }}
    {% endif%}    
    
    <!---- NUMBER OF ITEMS --->
    {%  if result.table['acdh:hasNumberOfItems'] %}
        {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result.table['acdh:hasNumberOfItems'], 'icon': "attachment", 'label': "Number of Item(s)" } ) }}
    {% endif%}
    
    <!---- BINARY SIZE --->
    {%  if result.table['acdh:hasBinarySize'][0] %}
        {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result.table['acdh:hasBinarySize'], 'icon': "attachment", 'label': "Binary Size" } ) }}
    {% endif%} 
    
    <!---- CATEGORY --->
    {%  if result.table['acdh:hasCategory'] %}
        {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result.table['acdh:hasCategory'], 'icon': "sort", 'label': "Category" } ) }}
    {% endif%}
    
    <!---- LICENSE --->
    {%  if result.table['acdh:hasLicense'] %}
        {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result.table['acdh:hasLicense'], 'icon': "copyright", 'label': "License" } ) }}
    {% endif%}

     <!---- ACCESS RESTRICTION --->
    {%  if result.getAccessRestriction() %}
        {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result.getAccessRestriction(), 'icon': "verified_user", 'label': "Access Restriction" } ) }}
    {% endif%}
   
    <!---- schema --->
    {%  if result.table['acdh:hasSchema'] %}
        {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result.table['acdh:hasSchema'], 'icon': "format_list_bulleted", 'label': "Schema" } ) }}
    {% endif%}

    <!---- HAS METADATA --->
    {% if result.table['acdh:hasMetadata'] %}
        {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result.table['acdh:hasMetadata'], 'icon': "assignment", 'label': "Metadata" } ) }}
    {% endif%}
    
    <!---- HAS URL --->
    {% if result.table['acdh:hasUrl'] %}
        {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result.table['acdh:hasUrl'], 'icon': "web", 'label': "Url" } ) }}
    {% endif%}
    
    <!---- HAS PID --->
    {% if result.table['acdh:hasPid'] %}
        {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result.table['acdh:hasPid'], 'icon': "fingerprint", 'label': "PID" } ) }}
    {% endif%}

    <!---- RELATED PROJECT --->
    {% if result.table['acdh:hasRelatedProject'] %}
        {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result.table['acdh:hasRelatedProject'], 'icon': "track_changes", 'label': "Related Project(s)" } ) }}
    {% endif%}
    
    <!---- is part of--->
    {% if result.table['acdh:isPartOf'] %}
        {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result.table['acdh:isPartOf'], 'icon': "device_hub", 'label': "Part of" } ) }}
    {% endif%}

    
    <!---- IS DERIVED FROM --->
    {% if result.table['acdh:isderivedFrom'] %}
        {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result.table['acdh:isderivedFrom'], 'icon': "device_hub", 'label': "Derived from" } ) }}
    {% endif%}
    
    <!---- SEE ALSO --->
    {% if result.table['rdfs:seeAlso'] %}
        {{ include('/modules/oeaw/templates/displayField.html.twig', {'data': result.table['acdh:seeAlso'], 'icon': "library_books", 'label': "See Also" } ) }}
    {% endif%}

{% if result.imageUrl %}</div>{% endif%}

{% if result.imageUrl %}	
    <div class="res-inside-wrap col-lg-4 ">	
        <div class="single-res-thumb">
            <a data-lightbox="{{ result.title }}" href="{{ result.imageUrl }}"><img src="{{ result.imageUrl }}"></a>
        </div>
    </div>
{% endif%}