
 {%  if data %}
    <div class="res-property">
        {% if icon %}
            <i class="material-icons">{{ icon }}</i>
        {% endif%}
        
        {% if label %}
            <span class="res-prop-label">{{ label }}:</span>
        {% endif%}
        
        <span class="res-prop-value">
            {% if data is iterable %}
                {% for value in data %}
                    {% if (value['insideUri']) and (value['title'])  %}
                        <a href="{{ url('<front>') }}oeaw_detail/{{ value['insideUri'] }}">{{ value['title'] }}</a>
                    {% elseif value['title'] %}    
                        <a href="{{ value['uri'] }}">{{ value['title'] }}</a>
                    {% elseif value['uri'] %}
                        <a href="{{ value['uri'] }}">{{ value['uri'] }}</a>
                    {% else %}
                        {{ value }}
                    {% endif%}
                    <span class="res-prop-delimiter">,</span>
                {% endfor %}
            {% else %}
                {{ data[0] }}
            {% endif %}
        </span>
    </div>
{% endif%}