{% if  errorMSG %}
    <span style="color:red; font-size: 20px; font-weight: bold;">{{ errorMSG }}</span>
{% else %}
     
    
    <input type="hidden" id="insideUri" name="insideUri" value="{{ resourceData['insideUri'] }}">
    <input type="hidden" id="estDLTime" name="estDLTime" value="{{ resourceData['estDLTime'] }}">
    
    <div id="content">
        <div class="single-res-overview single-res-overview-basic">
            <h2>{{ "The selected collection information"|trans }}</h2>
            <div class="res-property">
                <i class="material-icons">&#xE54E;</i>
                <span class="res-prop-label">{{ "Name"|trans }}:</span> 
                <span class="res-prop-value">
                    {% if resourceData['title'] %}
                        {{ resourceData['title'] }}
                    {% else %}    
                        There is no title
                    {% endif %}
                </span>
            </div>
            <div class="res-property">
                <i class="material-icons">&#xE54E;</i>
                <span class="res-prop-label">{{ "Number of files"|trans }}:</span> 
                <span class="res-prop-value">
                     {% if resourceData['filesNum'] %}
                        {{ resourceData['filesNum'] }}
                    {% else %}    
                       Unknown
                    {% endif %}
                </span>
            </div>
            <div class="res-property">
                <i class="material-icons">&#xE54E;</i>
                <span class="res-prop-label">{{ "Summary"|trans }} {{ "Size"|trans }}:</span> 
                <span class="res-prop-value">
                    {% if resourceData['formattedSize'] %}
                        {{ resourceData['formattedSize'] }}
                    {% else %}    
                        Unknown
                    {% endif %}
                </span>
            </div>
            {% if resourceData['estDLTime'] %}                
            <div class="res-property">
                <i class="material-icons">&#xE54E;</i>
                <span class="res-prop-label">{{"Est. Download Time"|trans }}:</span> 
                <span class="res-prop-value">
                    {{ resourceData['estDLTime'] }} Sec
                </span>
            </div>    
            {% endif %}
            
            <br>
            
            {% if resourceData['binaries'] %}
                <div style="display:none" id="sumBinaryDiv" class="collection_info coll_info_green">
                    <b>Selected binaries sum value:</b> <div id="sumBinary"></div>

                    {% if resourceData['dl'] %}
                        {% if resourceData['dl'] == true %}
                            <div style="display:none" id="getCollectionDiv">
                                <div class="res-act-button">
                                    <span class="res-prop-value">
                                        <a href="#" id="getCollectionData" data-tableuri="{{url}}">{{ "Prepare Collection To Download"|trans }}</a>
                                    </span>    
                                </div>
                            </div>
                        {% else %}
                            <h3>{{ "The server is overloaded you cant download this collection!<br>Please try to download a smaller collection!"|trans }}</h3>
                        {% endif %}
                    {% endif %}
                    
                    <div id="dl_link" style="display:none"></div>

                </div>
                
                <div>
                    <br>
                    <table class="collTable table table-striped" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>{{ "Filename"|trans }}</th>
                            <th>{{ "File size"|trans }}</th>
                            <th>{{ "Download"|trans }}</th>
                            <th>{{ "Add To Tar Download"|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for binary in resourceData['binaries'] %}
                            <tr id="{{ binary['encodedUri'] }}">
                                <td width='60%'>
                                    {{ binary['filename'] }}
                                </td>
                                <td width='20%'>
                                    {{ binary['formSize'] }}
                                </td>
                                <td width='10%'>
                                    <a href="{{ binary['uri'] }}">{{ "Download"|trans }}</a>
                                </td>
                                <td width='10%'>
                                    <input type="checkbox" name="collCheckBox[]" class="collCheckBox" value="{{ binary['encodedUri'] }}/binary={{ binary['binarySize'] }}">
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
            
        </div>    
            
        
    </div>            
{% endif %}
    