{% if errorMSG %}
    {{ errorMSG }}

{% else %}
    <div class="vcenter" style="height:100px;">
        <div style="float:left; width: 50%; font-size: 20px; font-weight: bold;">
                {{ editResData.title }} |  <a href="/oeaw_edit/{{ editResData.editUrl }}"><i class="fa fa-pencil-square-o fa-1x"></i></a>
                 {% if hasBinary %} | <a href="{{ hasBinary }}"><i class="fa fa-download" aria-hidden="true"></i></a>  {% endif %}
        </div>
        <div style="float:right; width: 50%; max-height:100px; ">
            {% for item in result %}
                {% if item.image %} 
                    <a href="{{ item.image }}" data-lightbox="{{ editResData.title }}" data-title="{{ editResData.title }}"><img src="{{ item.image }}" height="80px;"></a>
                {% endif %}
            {% endfor %}
        </div>    
    </div>    

    <table id="" class="display" cellspacing="0" width="100%">
       <thead>
            <tr>
                <th>Property</th>           
                <th>Value</th>            
            </tr>
        </thead>
        <tbody>  
                {% for item in result %}
                    {%  if item.property != "" %}    
                    <tr>                
                        <td>{{ item.property }}</td>
                        <td>
                            {% if item.value is iterable %}
                                {% for value in item.value %}
                                    {{ value }}
                                    <br>
                               {% endfor %}     
                            {% else %}                        
                                {{ item.value }}                        
                            {% endif %}
                        </td>
                    </tr>
                    {% endif %}
            {% endfor %}                                          
        </tbody>        
    </table>


    {% if childResult %}    
    <br/><br/>
    <div class="title">
        <h2>Child Resource(s) <!--<a href=""><i class="fa fa-plus-circle fa-1x" aria-hidden="true"></i></a>--></h2>
        <br/>
    </div>    
    <table id="" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Thumbnail</th>
                <th>Title</th>
                {% if userid != 0  %}
                    <th>Edit</th>
                    <th>Delete</th>
                {% endif %}
                <th>Fedora</th>
            </tr>
        </thead>
        <tbody>
            {% for cItem in childResult %}
                <tr data-resourceid="{{ cItem.delete }}">                
                    <td  width="70px">
                        <center>
                        {% if cItem.thumbnail != ""  %}
                            <a href="{{ cItem.thumbnail }}" data-lightbox="{{ cItem.title }}" data-title="{{ cItem.title }}"><img src="{{ cItem.thumbnail }}" height="50px;"></a>
                        {% endif %}

                        {% if cItem.image != ""  %}
                            <a href="{{ cItem.image }}" data-lightbox="{{ cItem.title }}" data-title="{{ cItem.title }}"><img src="{{ cItem.image }}" height="50px;"></a>
                        {% endif %}
                        </center>
                    </td>
                    <td>
                        <a href="{{ cItem.detail }}">{{ cItem.title }}</a>
                    </td>                
                    {% if userid != 0  %}
                        <td width="50px"><a href="{{ cItem.edit }}"><center><i class="fa fa-pencil-square-o fa-2x"></i></center></a></td>
                        <td width="50px" ><a href="/#" id="delete" data-resourceid="{{ cItem.delete }}" class="use-ajax" data-dialog-type="modal"><center><i class="fa fa-trash fa-2x"></i></center></a></td>
                    {% endif %}
                    <td width="50px"><a href="{{ cItem.uri }}" target="_blank"><center><i class="fa fa-database fa-2x" aria-hidden="true" ></i></center></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endif  %} 
    <div>
        <input type="button" value="<< Back" onclick="history.back(-1)" />
    </div>
{% endif%}