    <style type="text/css">
        #limit-sel {
            border: 1px solid #88dbdf;
            color: #88dbdf;
            background: #FFF;
            font-size: 14px;
            line-height: 1.5;
            border-radius: .25rem;
            padding: 3px 3px 3px 3px;
            appearance:none;
            -moz-appearance:none; /* Firefox */
            -webkit-appearance:none; /* Safari and Chrome */
        }
        
        
         #orderby {
            border: 1px solid #88dbdf;
            background: #FFF;
            color: #88dbdf;
            font-size: 14px;
            line-height: 1.5;
            border-radius: .25rem;
            padding: 3px 3px 3px 3px;
            appearance:none;
            -moz-appearance:none; /* Firefox */
            -webkit-appearance:none; /* Safari and Chrome */
        }
    </style>
    <script>

        var jq2 = jQuery;
        jq2(function( $ ) {
            let searchParams = new URLSearchParams(window.location.href);
            var pageValue = 0;
            if(searchParams.get('page')) {
                pageValue = searchParams.get('page');
                jq2('#actualPageSpan').html(pageValue);
            }
        });
    </script>        
    
    <div>
        <span class="">
            {% if data is not empty %}
                
                <span id="actualPageSpan">1</span>
                <span> {{ "of"|trans }} </span>
                <span> {{ data }} {{ "Pages"|trans }}</span>
                <li class="pagination-item" style="border-left: 1px solid #DDDDDD"> <a href="#" id="first-btn" ><i class="material-icons">first_page</i></a></li>
                <li class="pagination-item"><a href="#" id="prev-btn" ><i class="material-icons">chevron_left</i></a> </li>
                <li class="pagination-item"><a href="#" id="next-btn"><i class="material-icons">chevron_right</i></a></li>
                <li class="pagination-item"><a href="#" id="last-btn" ><i class="material-icons">last_page</i></a></li>
            {% endif %}
            
        </span>    
        

        <span class="results-info-bar">{{ "Items"|trans }} : 
            <select id="limit-sel">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="25">25</option>
                <option value="50">50</option>
            </select> 
        </span>

        <span class="results-info-bar">{{ "Sort by"|trans }}:  
            <select id="orderby">
                <option value="asc">ASC (title)</option>
                <option value="desc">DESC (title)</option>
            </select> 
        </span>
    </div>    
  
    
    
