{% if errorMSG %}
    {{ errorMSG }}
{% else %}

	<h3 class="single-res-heading">Overview</h3> 

	{% if result['dc_title'] %}
        <div class="res-property">
        	<i class="material-icons">&#xE873;</i>                                         
			{% for value in result['dc_title'].value %}
        		<span class="res-title">{{ value }}</span>	
			{% endfor %}
		</div>
	{% endif%} 
	
	{% if result['dcterm_contributor'] %}
        <div class="res-property">
        	<i class="material-icons">&#xE7FB;</i> 
        	{% for name in result['dcterm_contributor'].contributorName %}                                        
        		<span class="res-contributor"><a href="/oeaw_detail/{{ cycle(result['dcterm_contributor'].inside_url, loop.index0) }}">{{ name }}</a></span>  
        	{% endfor %}	
		</div>
	{% endif%}		

	{% if result['fedora_created'] %}
        <div class="res-property">
        	<i class="material-icons">&#xE8DF;</i>	
        	<span class="res-creationdate">{{ result['fedora_created'].value.creationDate }}</span>
        </div>
    {% endif%}	



	{% if result['dcterm_isPartOf'] %}
        <div class="res-property">
        	<i class="material-icons">&#xE335;</i>	
        	<span class="res-ispartof">Part of: <a href="/oeaw_detail/{{ result['dcterm_isPartOf'].inside_url.0 }}">{{ result['dcterm_isPartOf'].isPartOfTitle }}</a></span>
        </div>
    {% endif%}	



    {% if result['dcterm_description'] %}
    	<h3 class="single-res-heading">Summary</h3>
    
        <div class="res-property">
        	<i class="material-icons">&#xE88F;</i>
        	{% for value in result['dcterm_description'].value %}	
	        	<span class="res-description">{{ value }}</span>
	        {% endfor %}	
        </div>
                            
    {% endif%}


    {% if result['dcterm_contributor'] %}
    	<h3 class="single-res-heading">About the Author(s)</h3>
		
		{% for name in result['dcterm_contributor'].contributorName %}
	        <div class="res-property">
	        	<i class="material-icons">&#xE7FB;</i>
		        <span class="res-contributor">{{ name }}</span>	
	        </div>
         {% endfor %}                   
    {% endif%}

    
	<h3 class="single-res-heading">Access Data</h3>
	

	<h3 class="single-res-heading">Cite Resource</h3>
	
	<div class="cite-selector">
		<div class="cite-style selected">BibTeX</div>
		<div class="cite-style">AMA</div>
	</div>	

	<div class="bd-clipboard"><span class="btn-clipboard" title="" data-original-title="Copy to clipboard">Copy</span></div>
	
<figure class="highlight">
<pre>
<code class="language-bibtex" data-lang="scss">
@misc { 1,  
{% if result['dcterm_contributor'] %}
  author   = { {% for name in result['dcterm_contributor'].contributorName %}{{ name }}{% endfor %} }, 
{% endif%}
{% if result['dc_title'] %}
  title    = { {{ result['dc_title'].value.0 }} }, 
{% endif%}
{% if result['fedora_created'] %}
  year     = { {{ result['fedora_created'].value.creationDate }} }, 
{% endif%}
}
</code>
</pre>
</figure>


	<h3 class="single-res-heading">Child Resources</h3>

    {% for cItem in childResult %}
        <tr data-resourceid="{{ cItem.delete }}">
            <td  width="70px">
                <center>
                {% if cItem.thumbnail != ""  %}
                    <a href="{{ cItem.thumbnail }}" data-lightbox="{{ cItem.title }}" data-title="{{ cItem.title }}"><img src="{{ cItem.thumbnail }}" height="50px;"></a>
                {% endif %}

                {% if cItem.image != ""  %}
                    <a href="{{ cItem.image }}" data-lightbox="{{ cItem.title }}" data-title="{{ cItem.title }}"><img src="{{ cItem.image }}" height="50px;"></a>
                {% endif %}
                </center>
            </td>
            <td>
                <a href="{{ cItem.detail }}">{{ cItem.title }}</a>
            </td>                
        </tr>
    {% endfor %}
	
	                                        
{% endif%}