{% if errorMSG %}
    {{ errorMSG }}
{% else %}

    <h3 class="single-res-heading">
            Overview
        <div class="res-act-button res-act-button-expertview basic">
                <i class="material-icons">&#xE896;</i>
                <span>Switch to Expert-View</span>
        </div>
    </h3> 
    
    <div class="single-res-overview single-res-overview-basic">
        {% if result['table']['image'] %}<div class="res-inside-wrap col-lg-6 ">{% endif%}
            
            {%  if result['table']['acdh:hasTitle'] %}
                <div class="res-property">
                    <i class="material-icons">&#xE873;</i>
                    <span class="res-title">{{ result['table']['acdh:hasTitle'][0] }}</span>
                </div>
            {% endif%} 

            {% if result['acdh_rdf:type'] %}
                <div class="res-property">
                    <i class="material-icons">&#xE54E;</i>
                    <span class="res-rdftype"><a href="{{ result['acdh_rdf:type']['insideUri'] }}">{{ result['acdh_rdf:type']['title'] }}</a></span>
                </div>
            {% endif%}		

            {% if result['table']['acdh:hasAuthor'] %}
                <div class="res-property">
                    <i class="material-icons">&#xE7FB;</i> 
                    <ul>
                    {% for value in result['table']['acdh:hasAuthor'] %}
                        <span class="res-contributor">
                            <li>
                                {% if value['insideUri'] %}
                                    <a href="{{ url('<front>') }}oeaw_detail/{{ value['insideUri'] }}">{{ value['title'] }}</a>
                                {% else %}
                                <!-- if the contributor has no acdh id but other 3rd party id, then we will not use the oeaw_detail page -->
                                    <a href="{{ value['uri'] }}">{{ value['title'] }}</a> 
                                {% endif%}
                            </li>    
                        </span>
                    {% endfor %}
                    </ul>
                </div>                
            {% endif%}	
            
            {% if result['table']['acdh:hasContributor'] %}
                <div class="res-property">
                    <i class="material-icons">&#xE7FE;</i> 
                    <ul>
                    {% for value in result['table']['acdh:hasContributor'] %}
                        <span class="res-contributor">
                            <li>
                                {% if value['insideUri'] %}
                                    <a href="{{ url('<front>') }}oeaw_detail/{{ value['insideUri'] }}">{{ value['title'] }}</a>
                                {% else %}
                                <!-- if the contributor has no acdh id but other 3rd party id, then we will not use the oeaw_detail page -->
                                    <a href="{{ value['uri'] }}">{{ value['title'] }}</a> 
                                {% endif%}
                            </li>    
                        </span>
                    {% endfor %}
                    </ul>
                </div>                
            {% endif%}	

            
            {% if result['table']['acdh:hasCreatedDate'][0] %}
                <div class="res-property">
                    <i class="material-icons">&#xE8DF;</i>	
                    <span class="res-creationdate">{{ result['table']['acdh:hasCreatedDate'][0] }}</span>
                </div>
            {% endif%}	           	

            
            {% if result['table']['acdh:isPartOf'] %}
                <div class="res-property">
                    <i class="material-icons">&#xE335;</i>
                    <span class="res-ispartof">Part of:
                    {% for value in result['table']['acdh:isPartOf'] %}                
                        {% if value['insideUri'] %}
                            <span class="res-contributor"><a href="{{ url('<front>') }}oeaw_detail/{{ value['insideUri'] }}">{{ value['title'] }}</a></span>  
                        {% else %}
                            <!-- if the contributor has no acdh id but other 3rd party id, then we will not use the oeaw_detail page -->
                            <span class="res-contributor"><a href="{{ value['uri'] }}">{{ value['title'] }}</a></span>  
                        {% endif%}                    
                    {% endfor %}
                    </span>
                </div>
            {% endif%}	
	
        {% if result['table']['image'] %}</div>{% endif%}
		
        {% if result['table']['image'] %}	
            <div class="res-inside-wrap col-lg-6 ">	
                <div class="single-res-thumb">
                    <a href="{{ result['table']['image'] }}"><img src="{{ result['table']['image'] }}"></a>
                </div>
                <span class="res-thumb-info">Thumbnail of {{ result['resourceTitle'] }}</span>
            </div>
        {% endif%}
                
    </div>
	
	
    <div class="single-res-overview single-res-overview-expert">
		
        <table class="display table table-striped" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Value(s)</th>
                </tr>
            </thead>
            <tbody>
                {% for key,value in result['table'] %}
                    <tr>
                        <td>{{ key }}</td>
                        <td>
                            {% for val in value %}
                                {% if val['title'] %}
                                    <a href="{{ val['insideUri'] }}">{{ val['title'] }}</a> <br>
                                {% elseif val['uri'] %}    
                                    <a href="{{ val['uri'] }}">{{ val['uri'] }}</a> <br>
                                {% else %}
                                    {{ val }}
                                {% endif %}
                           {% endfor %}
                        </td>
                    </tr>
	            {% endfor %}
	        </tbody>
	    </table>
            {% if extras.inverseData %}
                <h3>Inverse Data</h3>
                <table class="display table table-striped" cellspacing="0" width="100%">
                   <thead>
                        <tr>                        
                            <th>Property</th>
                            <th>Value(s)</th>
                        </tr>
                    </thead>
                    <tbody>                    
                        {% for item in extras.inverseData %}
                            <tr>                            
                                <td>
                                    {{ item.shortcut }}
                                </td>
                                <td>
                                    <a href="{{ item.insideUri }}"> <b>{{ item.title }} </b></a>
                                </td>
                            </tr>
                        {% endfor %}                                          
                    </tbody>        
                </table>   
            {% endif %}
                    
            {% if userid == 1  %}
                <!--  The ACL rights  -->    
                <h3 class="single-res-heading">Access Rights</h3>
                <span class="res-title">Actual users and rights</span>
                <table class="display table table-striped" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>User</th>           
                            <th>Rights</th>
                            <th>Revoke</th>                    
                        </tr>
                    </thead>
                    <tbody>            
                    {% for acl in result['ACL'] %}            
                        <tr>
                            <td>
                                {{ acl.username }}
                            </td>
                            <td>
                                {{ acl.mode }}
                            </td>
                            <td>
                                {% if userid == 1  %}
                                    {% if result['ACL']|length > 1  %}
                                        <div class="res-act-button">
                                            <a href="/#" id="delete-rule" data-resourceid="{{ editResData.editUrl }}" data-user="{{ acl.user }}" class="use-ajax" data-dialog-type="modal">
                                                <i class="material-icons">&#xE872;</i><span>Revoke Rights</span>
                                            </a>
                                        </div>
                                    {% else %}
                                        <span>-</span>
                                    {% endif %}
                                {% else %}
                                    <span>You cant Revoke Rights</span>
                                {% endif %}
                            </td>
                        </tr>            
                    {% endfor %}        
                    </tbody>        
                </table>
                <br>
                <!--
                <span class="res-title">Add rights</span>
                <table class="display table table-striped" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Rights</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>  
                    <tr>
                        <td>
                            <select>
                                <option value="">----</option>
                                <option value="user1">User1</option>
                                <option value="user2">User2</option>
                                <option value="user3">User3</option>
                            </select>
                        </td>
                        <td>
                            <select>
                                <option value="">----</option>
                                <option value="read">Read</option>
                                <option value="write">Write</option>                
                            </select>
                        </td>
                        <td>
                            <button>Add</button>
                        </td>
                    </tr>        
                    </tbody>        
                </table>-->
                <br>
            {% endif %}
	</div>	

    {% if extras['dissServ'] %}
        <div class="res-property">
        	<i class="material-icons">&#xE89F;</i>	
                {% for key, ds in extras['dissServ'] %}
                    <div class="res-act-button">
                        <a href="{{ ds }}?format={{ key }}" ><span>{{ key|upper }} Access</span></a>
                    </div>               
                {% endfor %}  
        </div>                       
    {% endif %}    	

    <div class="res-property">
    	<i class="material-icons">&#xE0B2;</i>    	
    	<div class="res-act-button">
        	<a href="{{ result['uri'] }}">
        		<span>View in Fedora</span>
        	</a>	
    	</div>           	
    </div>

    {% if userid != 0  %}
        {% if query %} 
            <div class="res-property">
                <i class="material-icons">&#xE53B;</i>       	
                <div class="res-act-button">
                    <a href="/oeaw_query/{{ query }}">
                        <span>View Query Result</span>
                    </a>	
                </div>          	
            </div>
        {% endif %}	
    {% endif %}	


    {% if result['table']['acdh:hasDescription'][0] %}
    	<h3 class="single-res-heading">Summary</h3>    
        <div class="res-property">
            <i class="material-icons">&#xE88F;</i>
            <span class="res-description">{{ result['table']['acdh:hasDescription'][0] }}</span>
        </div>
                            
    {% endif%}
    
    {% if result['table']['acdh:hasAuthor'] %}
    	<h3 class="single-res-heading">About the Autor(s)</h3>
        {% for value in result['table']['acdh:hasAuthor'] %}            
            <div class="res-property">
                <i class="material-icons">&#xE7FD;</i>
                {% if value['insideUri'] %}
                    <span class="res-contributor"><a href="{{ url('<front>') }}oeaw_detail/{{ value['insideUri'] }}">{{ value['title'] }}</a></span>  
                {% else %}
                    <!-- if the contributor has no acdh id but other 3rd party id, then we will not use the oeaw_detail page -->
                    <span class="res-contributor"><a href="{{ value['uri'] }}">{{ value['title'] }}</a></span>  
                {% endif%}
            </div>
        {% endfor %}			
    {% endif%}
    
    {% if result['table']['acdh:hasContributor'] %}
    	<h3 class="single-res-heading">About the Contributor(s)</h3>
        {% for value in result['table']['acdh:hasContributor'] %}            
            <div class="res-property">
                <i class="material-icons">&#xE7FE;</i>
                {% if value['insideUri'] %}
                    <span class="res-contributor"><a href="{{ url('<front>') }}oeaw_detail/{{ value['insideUri'] }}">{{ value['title'] }}</a></span>  
                {% else %}
                    <!-- if the contributor has no acdh id but other 3rd party id, then we will not use the oeaw_detail page -->
                    <span class="res-contributor"><a href="{{ value['uri'] }}">{{ value['title'] }}</a></span>  
                {% endif%}
            </div>
        {% endfor %}			
    {% endif%}
    
    {% if result['table']['acdh:hasCreator'] %}
    	<h3 class="single-res-heading">About the Creator(s)</h3>
        {% for value in result['table']['acdh:hasCreator'] %}            
            <div class="res-property">
                <i class="material-icons">&#xE7FE;</i>
                {% if value['insideUri'] %}
                    <span class="res-contributor"><a href="{{ url('<front>') }}oeaw_detail/{{ value['insideUri'] }}">{{ value['title'] }}</a></span>  
                {% else %}
                    <!-- if the contributor has no acdh id but other 3rd party id, then we will not use the oeaw_detail page -->
                    <span class="res-contributor"><a href="{{ value['uri'] }}">{{ value['title'] }}</a></span>  
                {% endif%}
            </div>
        {% endfor %}			
    {% endif%}
 
    

    
    
    
   
    <h3 class="single-res-heading">Cite Resource</h3>

    <div class="cite-selector">
            <div class="cite-style selected">BibTeX</div>
            <div class="cite-style">AMA</div>
            <div class="cite-style">APA</div>
            <div class="cite-style">Frontiers</div>
            <div class="cite-style">Harvard</div>
            <div class="cite-style">IEEE</div>
            <div class="cite-style">LNCS</div>
            <div class="cite-style">MLA</div>
            <div class="cite-style">RIS</div>
    </div>	

    <div class="bd-clipboard"><span class="btn-clipboard" title="" data-original-title="Copy to clipboard">Copy</span></div>
	
<figure class="highlight">
<pre>
<code class="language-bibtex" data-lang="scss">
@misc { 1,  
{% if result['dcterm_contributor'] %}
  author   = { {% for name in result['dcterm_contributor'].contributorName %}{{ name }}{% endfor %} }, 
{% endif%}
{% if result['dc_title'] %}
  title    = { {{ result['dc_title'].value.0 }} }, 
{% endif%}
{% if extras['fedora_created'] %}
  year     = { {{ extras['fedora_created'].value.creationYear }} }, 
{% endif%}
}
</code>
</pre>
</figure>

    {% if childResult %}
    
    
    <div>
        <h3 class="single-res-heading">Child Resources</h3>
        <div >
            {% if result['pagination'] %}
                <div>
                    <ul>
                        {{ result['pagination']|raw }}
                    </ul>
                </div>
            {% endif%}
            <br>
        </div>
    </div>        
        {% for cItem in childResult %}
            <div class="child-res">
                
            <div class="res-property">
                <i class="material-icons">&#xE873;</i>
                <a href="{{ url('<front>') }}/oeaw_detail/{{ cItem.insideUri }}">                                         
                        <span class="res-title">{{ cItem.title }}</span>
                </a>		
            </div>

            <div class="res-property">
                <i class="material-icons">&#xE54E;</i>
                <a href="{{ cItem.rdfTypeUri }}">
                        <span class="res-rdftype">{{ cItem.types }}</span>
                </a>
            </div>

            {% if cItem.description %}
                <div class="res-property res-property-desc">
                    <i class="material-icons">&#xE88F;</i>	
                    <span class="res-description">{{ cItem.description }}</span>
                </div>
            {% endif%}

            <div class="res-actions">

                {% if cItem.description %}
                    <div class="res-act-button res-act-button-summary closed">
                            <i class="material-icons">&#xE145;</i>
                            <span>Show Summary</span>
                    </div>
                {% endif%}

                <div class="res-act-button">
                    <a href="{{ url('<front>') }}/oeaw_detail/{{ cItem.insideUri }}">
                        <i class="material-icons">&#xE873;</i>
                        <span>Detailed View</span>
                    </a>	
                </div>          	
            </div>	

            </div>
        {% endfor %}

    {% endif%}

	                                        
{% endif%}