{% if errorMSG %}
    {{ errorMSG }}
{% else %}

    <h3 class="single-res-heading">
            Overview
        <div class="res-act-button res-act-button-expertview basic">
                <i class="material-icons">&#xE896;</i>
                <span>Switch to Expert-View</span>
        </div>
        <div class="res-act-button res-act-button-copy-url" id="res-act-button-copy-url">
                <i class="material-icons">&#xE157;</i>
                <span href="javascript://" id="copy-url-tooltip" data-toggle="copy-url-tooltip"  data-placement="bottom" data-html="true" data-trigger="manual" title="Copied to Clipboard!">Copy Resource Link</span>
        </div>
    </h3> 
    
    <div class="single-res-overview single-res-overview-basic">
        {% if result['image'] %}<div class="res-inside-wrap col-lg-8 ">{% endif%}
            
            {%  if result['table']['acdh:hasTitle'] %}
                <div class="res-property">
                    <i class="material-icons">&#xE873;</i>
                    <span class="res-title">{{ result['table']['acdh:hasTitle'][0] }}</span>
                </div>
            {% endif%} 
            
            {%  if result['table']['acdh:hasBinarySize'][0] %}
                <div class="res-property">
                    <i class="material-icons">&#xE2BC;</i>
                    <span class="res-prop-label">Binary Size: </span>
                    <span class="res-binarySize">{{ result['table']['acdh:hasBinarySize'][0] }}</span>
                </div>
            {% endif%} 

            {% if result['acdh_rdf:type'] %}
                <div class="res-property">
                    <i class="material-icons">&#xE54E;</i>
                    Type: 
                    <span class="res-rdftype"><a href="{{ url('<front>') }}discover/&type={{ result['acdh_rdf:type']['title'] }}/10">{{ result['acdh_rdf:type']['title'] }}</a></span>
                </div>
            {% endif%}		

            {% if result['table']['acdh:hasAuthor'] %}
                <div class="res-property">
                    <i class="material-icons">&#xE7FB;</i>
                    <span class="res-prop-label">Author(s): </span>
                    {% for value in result['table']['acdh:hasAuthor'] %}
                        <span class="res-author">                            
                            {% if value['insideUri'] %}
                                <a href="{{ url('<front>') }}oeaw_detail/{{ value['insideUri'] }}">{{ value['title'] }}</a>, 
                            {% else %}
                            <!-- if the contributor has no acdh id but other 3rd party id, then we will not use the oeaw_detail page -->
                                <a href="{{ value['uri'] }}">{{ value['title'] }}</a>, 
                            {% endif%}                            
                        </span>
                    {% endfor %}
                </div>                
            {% endif%}	
            
            {% if result['table']['acdh:hasContributor'] %}
                <div class="res-property">
                    <i class="material-icons">&#xE7FE;</i>
                    <span class="res-prop-label">Contributor(s): </span>
                    {% for value in result['table']['acdh:hasContributor'] %}
                        <span class="res-contributor">                            
                            {% if value['insideUri'] %}
                                <a href="{{ url('<front>') }}oeaw_detail/{{ value['insideUri'] }}">{{ value['title'] }}</a>, 
                            {% else %}
                            <!-- if the contributor has no acdh id but other 3rd party id, then we will not use the oeaw_detail page -->
                                <a href="{{ value['uri'] }}">{{ value['title'] }}</a> , 
                            {% endif%}                            
                        </span>
                    {% endfor %}
                    </ul>
                </div>                
            {% endif%}
            
            
            {% if result['table']['acdh:hasCreator'] %}
                <div class="res-property">
                    <i class="material-icons">&#xE7FB;</i>
                    <span class="res-prop-label">Creator(s): </span>
                    {% for value in result['table']['acdh:hasCreator'] %}
                        <span class="res-contributor">                            
                            {% if value['insideUri'] %}
                                <a href="{{ url('<front>') }}oeaw_detail/{{ value['insideUri'] }}">{{ value['title'] }}</a>, 
                            {% else %}
                            <!-- if the contributor has no acdh id but other 3rd party id, then we will not use the oeaw_detail page -->
                                <a href="{{ value['uri'] }}">{{ value['title'] }}</a> , 
                            {% endif%}                            
                        </span>
                    {% endfor %}
                    </ul>
                </div>                
            {% endif%}	

            {% if result['table']['acdh:hasAvailableDate'][0] %}
                <div class="res-property">
                    <i class="material-icons">&#xE8DF;</i>
                    <span class="res-prop-label">Available Date: </span>
                    <span class="res-creationdate">{{ result['table']['acdh:hasAvailableDate'][0] }}</span>
                </div>
            {% endif%}
            
            {% if result['table']['acdh:hasCreatedDate'][0] %}
                <div class="res-property">
                    <i class="material-icons">&#xE8DF;</i>
                    <span class="res-prop-label">Created Date: </span>
                    <span class="res-creationdate">{{ result['table']['acdh:hasCreatedDate'][0] }}</span>
                </div>
            {% endif%}

			
            {% if result['table']['acdh:hasCreationStartDate'][0] %}
                <div class="res-property">
                    <i class="material-icons">&#xE8DF;</i>
                    <span class="res-prop-label">Creation Start Date: </span>
                    <span class="res-creationdate">{{ result['table']['acdh:hasCreationStartDate'][0] }}</span>
                </div>
            {% endif%}
            
            {% if result['table']['acdh:hasCreationEndDate'][0] %}
                <div class="res-property">
                    <i class="material-icons">&#xE8DF;</i>
                    <span class="res-prop-label">Creation End Date: </span>
                    <span class="res-creationdate">{{ result['table']['acdh:hasCreationEndDate'][0] }}</span>
                </div>
            {% endif%}
            

            {% if result['table']['acdh:isPartOf'] %}
                <div class="res-property">
                    <i class="material-icons">&#xE335;</i>
                    <span class="res-ispartof">
                        <span class="res-prop-label">Part of: </span>
                        <span class="res-contributor">
                        {% for value in result['table']['acdh:isPartOf'] %}
                            {% if value['insideUri'] %}
                                <a href="{{ url('<front>') }}oeaw_detail/{{ value['insideUri'] }}">{{ value['title'] }}</a>, 
                            {% else %}
                                <!-- if the contributor has no acdh id but other 3rd party id, then we will not use the oeaw_detail page -->                                
                                <a href="{{ value['uri'] }}">{{ value['title'] }}</a>, 
                            {% endif%}                    
                        {% endfor %}
                        </span>
                    </span>
                </div>
            {% endif%}

            {% if result['table']['acdh:hasExtent'][0] %}
                <div class="res-property">
                    <i class="material-icons">&#xE2C7;</i>
                    <span class="res-prop-label">Extent: </span>
                    <span class="res-creationdate">{{ result['table']['acdh:hasExtent'][0] }}</span>
                </div>
            {% endif%}
            
            {%  if result['table']['acdh:hasLicence'][0] %}
                <div class="res-property">
                    <i class="material-icons">&#xE90C;</i>
                    <span class="res-prop-label">Licence: </span>
                    <span class="res-binarySize">{{ result['table']['acdh:hasLicence'][0] }}</span>
                </div>
            {% endif%}
            
            {%  if result['table']['acdh:hasAccessRestriction'][0] %}
                <div class="res-property">
                    <i class="material-icons">&#xE8F4;</i>
                    <span class="res-prop-label">Access: </span>
                    <span class="res-binarySize">{{ result['table']['acdh:hasAccessRestriction'][0] }}</span>
                </div>
            {% endif%}
            
            {%  if result['table']['acdh:hasSchema'] %}
                <div class="res-property">
                    <i class="material-icons">&#xE241;</i>
                    <span class="res-prop-label">Schema: </span>
                    {% if result['table']['acdh:hasSchema'] is iterable %}
                        {% for value in result['table']['acdh:hasSchema'] %}
                            {% if (value['insideUri']) and (value['title'])  %}
                                <a href="{{ url('<front>') }}oeaw_detail/{{ value['insideUri'] }}">{{ value['title'] }}</a>
                            {% elseif value['title'] %}    
                                <a href="{{ value['uri'] }}">{{ value['title'] }}</a>
                            {% else %}
                                <!-- if the contributor has no acdh id but other 3rd party id, then we will not use the oeaw_detail page -->
                                <a href="{{ value['uri'] }}">{{ value['uri'] }}</a>
                            {% endif%}
                        {% endfor %}
                    {% else %}
                        <span class="res-binarySize">{{ result['table']['acdh:hasSchema'][0] }}</span>
                    {% endif %}
                </div>
            {% endif%}

            {% if result['table']['acdh:hasMetadata'] %}
                <div class="res-property">
                    <i class="material-icons">&#xE85D;</i>
                    <span class="res-locationUrl">
                    <span class="res-prop-label">Metadata: </span>
                    {% for value in result['table']['acdh:hasMetadata'] %}
                        <span class="res-locationUrl">
                        {% if value['insideUri'] %}
                            <a href="{{ url('<front>') }}oeaw_detail/{{ value['insideUri'] }}">{{ value['title'] }}</a>
                        {% else %}
                            <!-- if the contributor has no acdh id but other 3rd party id, then we will not use the oeaw_detail page -->
                            <a href="{{ value['uri'] }}">{{ value['uri'] }}</a>
                        {% endif%}
                        </span>
                    {% endfor %}
                    </span>
                </div>
            {% endif%}
            
            {% if result['table']['acdh:hasLocationURL'] %}
                <div class="res-property">
                    <i class="material-icons">&#xE55C;</i>
                    <span class="res-locationUrl">
                    <span class="res-prop-label">Location URL: </span>
                    {% for value in result['table']['acdh:hasLocationURL'] %}
                        <span class="res-locationUrl">
                        {% if value['insideUri'] %}
                            <a href="{{ url('<front>') }}oeaw_detail/{{ value['insideUri'] }}">{{ value['title'] }}</a>
                        {% else %}
                            <!-- if the contributor has no acdh id but other 3rd party id, then we will not use the oeaw_detail page -->
                            <a href="{{ value['uri'] }}">{{ value['uri'] }}</a>
                        {% endif%}
                        </span>
                    {% endfor %}
                    </span>
                </div>
            {% endif%}

            {% if result['table']['acdh:hasPid'] %}
                <div class="res-property">
                    <i class="material-icons">&#xE90D;</i>
                    <span class="res-pid">
                    <span class="res-prop-label">PID: </span>
                    {% for value in result['table']['acdh:hasPid'] %}
                        <span class="res-pid">                            
                        {% if value['insideUri'] %}
                            <a href="{{ url('<front>') }}oeaw_detail/{{ value['insideUri'] }}">{{ value['title'] }}</a>
                        {% else %}
                            <!-- if the contributor has no acdh id but other 3rd party id, then we will not use the oeaw_detail page -->
                            <a href="{{ value['uri'] }}">{{ value['uri'] }}</a>
                        {% endif%}
                        </span>
                    {% endfor %}
                    </span>
                </div>
            {% endif%}
            
            
            {% if result['table']['acdh:hasRelatedProject'] %}
                <div class="res-property">
                    <i class="material-icons">&#xE8E1;</i>
                    <span class="res-prop-label">Related Project(s): </span>
                    {% if result['table']['acdh:hasRelatedProject'] is iterable %}
                        {% for value in result['table']['acdh:hasRelatedProject'] %}
                            <span class="res-contributor">                            
                                {% if (value['insideUri']) and (value['title']) %}
                                    <a href="{{ url('<front>') }}oeaw_detail/{{ value['insideUri'] }}">{{ value['title'] }}</a>, 
                                {% elseif (value['title']) %}
                                    <a href="{{ value['uri'] }}">{{ value['title'] }}</a> , 
                                {% else %}
                                <!-- if the contributor has no acdh id but other 3rd party id, then we will not use the oeaw_detail page -->
                                    {{ value }} ,
                                {% endif%}                            
                            </span>
                        {% endfor %}
                    {% else %}
                        {{ result['table']['acdh:hasRelatedProject'] }}
                    {% endif %}
                </div>                
            {% endif%}
            
            {% if result['table']['rdfs:seeAlso'] %}                
                <div class="res-property">
                    <i class="material-icons">&#xE02F;</i>
                    <span class="res-seeAlso">
                    <span class="res-prop-label">See Also: </span>
                    {% for value in result['table']['rdfs:seeAlso'] %}
                        <span class="res-seeAlso">                            
                        {% if value['insideUri'] %}
                            <a href="{{ url('<front>') }}oeaw_detail/{{ value['insideUri'] }}">{{ value['title'] }}</a>, 
                        {% else %}
                            <!-- if the contributor has no acdh id but other 3rd party id, then we will not use the oeaw_detail page -->
                            <a href="{{ value['uri'] }}">{{ value['uri'] }}</a>, 
                        {% endif%}
                        </span>
                    {% endfor %}
                    </span>
                </div>
            {% endif%}
            
        {% if result['image'] %}</div>{% endif%}
		
        {% if result['image'] %}	
            <div class="res-inside-wrap col-lg-4 ">	
                <div class="single-res-thumb">
                    <a data-lightbox="{{ result['resourceTitle'] }}" href="{{ result['image'] }}"><img src="{{ result['image'] }}"></a>
                </div>
                <span class="res-thumb-info">Thumbnail of {{ result['resourceTitle'] }}</span>
            </div>
        {% endif%}
        
    </div>
	
	
    <div class="single-res-overview single-res-overview-expert">
		
        <table class="display table table-striped" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Value(s)</th>
                </tr>
            </thead>
            <tbody>
                {% for key,value in result['table'] %}
                    <tr>
                        <td>
                            {{ key }}
                           <!-- <a href="javascript://" id="cite-tooltip-{{ key }}" data-toggle="cite-tooltip-{{ key }}"  data-placement="right" data-html="true" data-trigger="focus"
                                title="&quot;{{ key }} (Modern Language Association) style is most commonly used to write papers and cite sources within the liberal arts and humanities.&quot; <a href='https://owl.english.purdue.edu/owl/resource/747/01/'>Read more...</a>">
                                <i class="material-icons">&#xE88F;</i>-->
                            </a>
                        </td>
                        <td>
                            {% for val in value %}
                                {% if (val['title']) and (val['insideUri']) %}
                                    <a href="{{ val['insideUri'] }}">{{ val['title'] }} </a> <br>
                                {% elseif val['title'] %}
                                    <a href="{{ val['uri'] }}">{{ val['title'] }}</a> <br>
                                {% elseif val['uri'] %}
                                    <a href="{{ val['uri'] }}">{{ val['uri'] }}</a> <br>
                                {% else %}
                                    {{ val }}
                                {% endif %}
                           {% endfor %}
                        </td>
                    </tr>
	            {% endfor %}
	        </tbody>
	    </table>
            <div class="res-act-button">
                <a href="#" id="showInverse" data-tableuri="{{result['insideUri']}}">Show Inverse Table</a>
            </div>
            <div id="inverseTableDiv" style="display: none;">
                <h3>Inverse Data</h3>
                <table class="inverseTable table table-striped" cellspacing="0" width="100%">
                    <thead>
                        <tr>                        
                            <th>Property</th>
                            <th>Value(s)</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>    
            
                    
            {% if userid == 1  %}
                <!--  The ACL rights  -->    
                <h3 class="single-res-heading">Access Rights</h3>
                <span class="res-title">Actual users and rights</span>
                <table class="display table table-striped" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>User</th>           
                            <th>Rights</th>
                            <th>Revoke</th>                    
                        </tr>
                    </thead>
                    <tbody>            
                    {% for acl in result['ACL'] %}            
                        <tr>
                            <td>
                                {{ acl.username }}
                            </td>
                            <td>
                                {{ acl.mode }}
                            </td>
                            <td>
                                {% if userid == 1  %}
                                    {% if result['ACL']|length > 1  %}
                                        <div class="res-act-button">
                                            <a href="/#" id="delete-rule" data-resourceid="{{ editResData.editUrl }}" data-user="{{ acl.user }}" class="use-ajax" data-dialog-type="modal">
                                                <i class="material-icons">&#xE872;</i><span>Revoke Rights</span>
                                            </a>
                                        </div>
                                    {% else %}
                                        <span>-</span>
                                    {% endif %}
                                {% else %}
                                    <span>You cant Revoke Rights</span>
                                {% endif %}
                            </td>
                        </tr>            
                    {% endfor %}        
                    </tbody>        
                </table>
                <br>
                <!--
                <span class="res-title">Add rights</span>
                <table class="display table table-striped" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Rights</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>  
                    <tr>
                        <td>
                            <select>
                                <option value="">----</option>
                                <option value="user1">User1</option>
                                <option value="user2">User2</option>
                                <option value="user3">User3</option>
                            </select>
                        </td>
                        <td>
                            <select>
                                <option value="">----</option>
                                <option value="read">Read</option>
                                <option value="write">Write</option>                
                            </select>
                        </td>
                        <td>
                            <button>Add</button>
                        </td>
                    </tr>        
                    </tbody>        
                </table>-->
                <br>
            {% endif %}
	</div>	

        
    {% if extras['dissServ'] %}
        <div class="res-property">
        	<i class="material-icons">&#xE89F;</i>	
                {% for key, ds in extras['dissServ'] %}
                    <div class="res-act-button">
                        {% if result['acdh_rdf:type']['title'] == "Resource" %}
                             {% set rawTitle = "DOWNLOAD BINARY"%}
                        {% else %}
                            {% set rawTitle = "Raw Access"%}
                        {% endif %}
                        
                        {% if key == "raw" %}    
                            <a href="{{ ds }}?format={{ key }}" ><span>{{ rawTitle }}</span></a>
                        {% else %}
                            <a href="{{ ds }}?format={{ key }}" ><span>{{ key|upper }} Access</span></a>
                        {% endif %}
                    </div>               
                {% endfor %}  
        </div>                       
    {% endif %}    	
    
        
    
    {% if result['table']['acdh:hasDescription'][0] %}
        <h3 class="single-res-heading">Summary</h3>    
        <div class="res-property">
            <i class="material-icons">&#xE88F;</i>
            <span class="res-description">{{ result['table']['acdh:hasDescription'][0] }}</span>
        </div>
    {% endif%}

	{% if extras.CiteThisWidget %}
    	<h3 class="single-res-heading">Cite Resource</h3>
	    <div class="cite-selector">
	            <div class="cite-style selected">
	            	MLA
	            	<a href="javascript://" id="cite-tooltip-mla" data-toggle="cite-tooltip-mla"  data-placement="right" data-html="true" data-trigger="focus"
	            	title="&quot;MLA (Modern Language Association) style is most commonly used to write papers and cite sources within the liberal arts and humanities.&quot; <a href='https://owl.english.purdue.edu/owl/resource/747/01/'>Read more...</a>">
	            		<i class="material-icons">&#xE88F;</i>
	            	</a>
	            </div>
	            <div class="cite-style">
	            	APA
	            	<a href="javascript://" id="cite-tooltip-apa" data-toggle="cite-tooltip-apa"  data-placement="right" data-html="true" data-trigger="focus"
	            	title="&quot;APA (American Psychological Association) style is most commonly used to cite sources within the social sciences.&quot; <a href='https://owl.english.purdue.edu/owl/resource/560/01/'>Read more...</a>">
	            		<i class="material-icons">&#xE88F;</i>
	            	</a>
	            </div>
	            <div class="cite-style">
	            	CMS
	            	<a href="javascript://" id="cite-tooltip-cms" data-toggle="cite-tooltip-cms"  data-placement="right" data-html="true" data-trigger="focus"
	            	title="&quot;The Chicago Manual of Style (CMS) covers a variety of topics from manuscript preparation and publication to grammar, usage, and documentation.&quot; <a href='https://owl.english.purdue.edu/owl/resource/717/01/'>Read more...</a>">
	            		<i class="material-icons">&#xE88F;</i>
	            	</a>
	            </div>
	    </div>
	
	    <div class="bd-clipboard"><span class="btn-clipboard" title="" data-original-title="Copy to clipboard">Copy</span></div>
		
		<figure class="highlight">
		
			<span class="cite-content active">{{ extras.CiteThisWidget.MLA.string | raw }}</span>
			<span class="cite-content">{{ extras.CiteThisWidget.APA.string | raw }}</span>
			<span class="cite-content">{{ extras.CiteThisWidget.CMS.string | raw }}</span>
		
		</figure>

	{% endif%}

    {% if extras['personChild'] == "concept" %}
        {% set childTitle = "Narrower(s)"%}
    {% elseif  extras['personChild'] == "person" %}
        {% set childTitle = "Contributed to"%}
    {% else %}
        {% set childTitle = "Child Resource(s)"%}
    {% endif %}
    
    {% if childResult %}
	    <div class="res-el res-info res-child-info col-block col-lg-12">
	        <div class="result-basic-info">
	            <span class="results-info-bar"><h3>{{ childTitle }}</h3></span>
	            {% if result['pagination'] %}
	            	<span class="results-info-bar pagination-span">{{ result['pagination']|raw }}</span>
	            {% endif%}
	        </div>
	    </div>

        {% for cItem in childResult %}
            <div class="child-res">
                
            <div class="res-property">
                <i class="material-icons">&#xE873;</i>
                <span class="res-title">
	                <a href="{{ url('<front>') }}/oeaw_detail/{{ cItem.insideUri }}">                                         
	                	{{ cItem.title }}
	                </a>
                </span>		
            </div>

            <div class="res-property">
                <i class="material-icons">&#xE54E;</i>
                <span class="res-rdftype">
	                <a href="{{url('<front>') }}discover/&type={{ cItem.typeName }}/10">
	                        {{ cItem.typeName }}
	                </a>
                </span>
            </div>

            {% if cItem.description %}
                <div class="res-property res-property-desc">
                    <i class="material-icons">&#xE88F;</i>	
                    <span class="res-description">{{ cItem.description }}</span>
                </div>
            {% endif%}

            <div class="res-actions">

                {% if cItem.description %}
                    <div class="res-act-button res-act-button-summary closed">
                            <i class="material-icons">&#xE145;</i>
                            <span>Show Summary</span>
                    </div>
                {% endif%}

                <div class="res-act-button">
                    <a href="{{ url('<front>') }}/oeaw_detail/{{ cItem.insideUri }}">
                        <i class="material-icons">&#xE873;</i>
                        <span>Detailed View</span>
                    </a>	
                </div>          	
            </div>	

            </div>
        {% endfor %}

    {% endif%}

	                                        
{% endif%}