{% if errorMSG %}
    {{ errorMSG }}
{% else %}

	<h3 class="single-res-heading">
		Overview

    	<div class="res-act-button res-act-button-expertview basic">
    		<i class="material-icons">&#xE896;</i>
    		<span>Switch to Expert-View</span>
    	</div>            	
	
	
	</h3> 
    
    <div class="single-res-overview single-res-overview-basic">
	    {% if result['image'] %}<div class="res-inside-wrap col-lg-6 ">{% endif%}  
	
		{% if result['dc_title'] %}
	        <div class="res-property">
	        	<i class="material-icons">&#xE873;</i>                                         
				{% for value in result['dc_title'].value %}
	        		<span class="res-title">{{ value }}</span>	
				{% endfor %}
			</div>
		{% endif%} 
		
		{% if result['dcterm_contributor'] %}
	        <div class="res-property">
	        	<i class="material-icons">&#xE7FB;</i> 
	        	{% for name in result['dcterm_contributor'].contributorName %}                                        
	        		<span class="res-contributor"><a href="/oeaw_detail/{{ cycle(result['dcterm_contributor'].inside_url, loop.index0) }}">{{ name }}</a></span>  
	        	{% endfor %}	
			</div>
		{% endif%}		
	
		{% if result['fedora_created'] %}
	        <div class="res-property">
	        	<i class="material-icons">&#xE8DF;</i>	
	        	<span class="res-creationdate">{{ result['fedora_created'].value.creationDate }}</span>
	        </div>
	    {% endif%}	
	
	
	
		{% if result['dcterm_isPartOf'] %}
	        <div class="res-property">
	        	<i class="material-icons">&#xE335;</i>	
	        	<span class="res-ispartof">Part of: <a href="/oeaw_detail/{{ result['dcterm_isPartOf'].inside_url.0 }}">{{ result['dcterm_isPartOf'].isPartOfTitle }}</a></span>
	        </div>
	    {% endif%}	
	
		{% if result['image'] %}</div>{% endif%}
		
		{% if result['image'] %}	
			<div class="res-inside-wrap col-lg-6 ">	
			    <div class="single-res-thumb">
			        <a href="{{ result['image'] }}"><img src="{{ result['image'] }}"></a>
			    </div>
			    <span class="res-thumb-info">Thumbnail of {{ result['dc_title'].value.0 }}</span>
			</div>
		{% endif%}
	</div>
	
	
	<div class="single-res-overview single-res-overview-expert">
		
	    <table class="display table table-striped" cellspacing="0" width="100%">
	       <thead>
	            <tr>
	                <th>Property</th>           
	                <th>Value(s)</th>            
	            </tr>
	        </thead>
	        <tbody>  
	                {% for item in result %}
	                    {%  if item.property != "" %}    
	                    <tr data-resourceid="{{ item.delete }}">
	                        <td>{{ item.property }}</td>
	                        <td>
	                            
	                            {% if item.inside_url is iterable %}
	                                {% set counter = 0 %}
	                                                                
	                                {% for key, inside_url in item.inside_url %}
	                                    {% set counter = counter + 1 %}
	                                    <a href="{{ inside_url }}" target="_blank">
	                                        {% if item.property == "dcterm:identifier" %}                                            
	                                            {{  item.value[key] }}
	                                        {% else %}                                            
	                                            {% if item.val_title[key] %}
	                                                {{ item.val_title[key] }}
	                                                <br>
	                                            {% else %}
	                                                {{ item.value[key] }}
	                                                <br>
	                                            {% endif %}
	                                        {% endif %}    
	                                    </a>
	                                {% endfor %}
	                                
	                            {% else %}
	                                {% if item.value is iterable %}
	                                
	                                    {% for value in item.value %}
	                                        {% if 'http' in value %}
	                                            <a href="{{ value }}" target="_blank">{{ value }}</a>
	                                        {% else %}
	                                            {{ value }}
	                                        {% endif %}
	                                        <br>
	                                   {% endfor %}
	
	                                {% else %}                                    
	                                    {% if 'http' in item.value %}
	                                        <a href="{{ item.value }}" target="_blank">{{ item.value }}</a>
	                                    {% else %}
	                                        {{ item.value }}
	                                    {% endif %}
	
	                                {% endif %}  
	                            {% endif %}
	                                
	                                                      
	                        </td>
	                    </tr>
	                    {% endif %}
	            {% endfor %}                                          
	        </tbody>        
	    </table>
 
	</div>	


    {% if result['dcterm_description'] %}
    	<h3 class="single-res-heading">Summary</h3>
    
        <div class="res-property">
        	<i class="material-icons">&#xE88F;</i>
        	{% for value in result['dcterm_description'].value %}	
	        	<span class="res-description">{{ value }}</span>
	        {% endfor %}	
        </div>
                            
    {% endif%}


    {% if result['dcterm_contributor'] %}
    	<h3 class="single-res-heading">About the Author(s)</h3>
		
		{% for name in result['dcterm_contributor'].contributorName %}
	        <div class="res-property">
	        	<i class="material-icons">&#xE7FB;</i>
		        <span class="res-contributor"><a href="/oeaw_detail/{{ cycle(result['dcterm_contributor'].inside_url, loop.index0) }}">{{ name }}</a></span>  
	        </div>
         {% endfor %}                   
    {% endif%}
 
    
	<h3 class="single-res-heading">Access Data (Dummy)</h3>

    <div class="res-property">
    	<i class="fa fa-file-pdf-o" aria-hidden="true"></i>	
        <span class="res-file">Dowload resource as PDF</span>	
    </div>

    <div class="res-property">
    	<i class="fa fa-file-archive-o" aria-hidden="true"></i>	
        <span class="res-file">Dowload resource as ZIP</span>	
    </div>
    
    <div class="res-property">
    	<i class="fa fa-file-text-o" aria-hidden="true"></i>	
        <span class="res-file">Dowload resource as Text</span>	
    </div>    	

    <div class="res-property">
    	<i class="fa fa-file-image-o" aria-hidden="true"></i>	
        <span class="res-file">Dowload resource as Image</span>	
    </div> 

    <div class="res-property">
    	<i class="fa fa-file-video-o" aria-hidden="true"></i>	
        <span class="res-file">Dowload resource as Video</span>	
    </div> 

    <div class="res-property">
    	<i class="fa fa-file-code-o" aria-hidden="true"></i>	
        <span class="res-file">Dowload resource as Code</span>	
    </div> 

    <div class="res-property">
    	<i class="fa fa-file-word-o" aria-hidden="true"></i>	
        <span class="res-file">Dowload resource as Word Doc.</span>	
    </div> 

    <div class="res-property">
    	<i class="fa fa-file-excel-o" aria-hidden="true"></i>	
        <span class="res-file">Dowload resource as Excel Doc.</span>	
    </div> 

    <div class="res-property">
    	<i class="fa fa-file-o" aria-hidden="true"></i>	
        <span class="res-file">Dowload resource as File</span>	
    </div> 

	

	<h3 class="single-res-heading">Cite Resource</h3>
	
	<div class="cite-selector">
		<div class="cite-style selected">BibTeX</div>
		<div class="cite-style">AMA</div>
		<div class="cite-style">APA</div>
		<div class="cite-style">Frontiers</div>
		<div class="cite-style">Harvard</div>
		<div class="cite-style">IEEE</div>
		<div class="cite-style">LNCS</div>
		<div class="cite-style">MLA</div>
		<div class="cite-style">RIS</div>
	</div>	

	<div class="bd-clipboard"><span class="btn-clipboard" title="" data-original-title="Copy to clipboard">Copy</span></div>
	
<figure class="highlight">
<pre>
<code class="language-bibtex" data-lang="scss">
@misc { 1,  
{% if result['dcterm_contributor'] %}
  author   = { {% for name in result['dcterm_contributor'].contributorName %}{{ name }}{% endfor %} }, 
{% endif%}
{% if result['dc_title'] %}
  title    = { {{ result['dc_title'].value.0 }} }, 
{% endif%}
{% if result['fedora_created'] %}
  year     = { {{ result['fedora_created'].value.creationYear }} }, 
{% endif%}
}
</code>
</pre>
</figure>

	{% if childResult %}
	<h3 class="single-res-heading">Child Resources</h3>

			{% for cItem in childResult %}
				<div class="child-res">
				
			        <div class="res-property">
			        	<i class="material-icons">&#xE873;</i>
			        	<a href="{{ cItem.detail }}">                                         
			        		<span class="res-title">{{ cItem.title }}</span>
			        	</a>		
					</div>				


		            <div class="res-property">
		            	<i class="material-icons">&#xE54E;</i>
		            	<a href="{{ cItem.rdfTypeUri }}">
		            		<span class="res-rdftype">{{ cItem.rdfType }}</span>
		            	</a>
		            </div>

		            {% if cItem.description %}
			            <div class="res-property res-property-desc">
			            	<i class="material-icons">&#xE88F;</i>	
			            	<span class="res-description">{{ cItem.description }}</span>
			            </div>            
		            {% endif%}


		            <div class="res-actions">
		            
		            	{% if cItem.description %}
			            	<div class="res-act-button res-act-button-summary closed">
			            		<i class="material-icons">&#xE145;</i>
			            		<span>Show Summary</span>
			            	</div>
		            	{% endif%}
		            	
		            	<div class="res-act-button">
		            		<a href="{{ cItem.detail }}">
			            		<i class="material-icons">&#xE873;</i>
			            		<span>Detailed View</span>
			            	</a>	
		            	</div>
		            	
		            	<div class="res-act-button">
		            		<i class="material-icons">&#xE885;</i>
		            		<span>Add To Favorites</span>
		            	</div>            	
		            </div>	

				</div>
			{% endfor %}

	{% endif%}

	                                        
{% endif%}