{% if errorMSG %}
    {{ errorMSG }}

{% else %}
    <div class="vcenter">
        <h2 ><i class="fa fa-search fa-1x"></i> You searched for: <b>{{ searchedValues.metaValue }} in {{ searchedValues.metaKey }}</b> </h2>    
    </div>    
    <table id="" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Thumbnail</th>
                <th>Title</th>
                {% if userid != 0  %}
                    <th width="50px">Edit</th>
                {% endif %}
                <th width="50px">Fedora</th>            
            </tr>
        </thead>
        <tbody>  
                {% for item in result %}

                <tr>
                    <td  width="70px">
                        <center>                            
                        {% if item.thumb != ""  %}
                            <a href="{{ item.thumb }}" data-lightbox="{{ item.title }}" data-title="{{ item.title }}"><img src="{{ item.thumb }}" height="50px;"></a>
                        {% elseif item.image != ""  %}
                            <a href="{{ item.image }}" data-lightbox="{{ item.title }}" data-title="{{ item.title }}"><img src="{{ item.image }}" height="50px;"></a>
                        {% endif %}
                        </center>
                    </td>
                    <td><a href="{{ item.detail }}" >
                            {% if item.title %}
                                {{item.title}}
                            {% elseif  item.label %}
                                {{item.label}}
                            {% elseif  item.value %}
                                {{item.value}}
                            {% else %}
                                Title is missing - {{item.uri}}
                            {% endif %}    
                        </a></td>
                    {% if userid != 0  %}        
                        <td width="50px"><a href="{{ item.edit }}"><center><i class="fa fa-pencil-square-o fa-2x"></i></center></a></td>
                    {% endif %}
                    <td width="50px"><a href="{{ item.uri }}" target="_blank"><center><i class="fa fa-database fa-2x" aria-hidden="true" ></i></center></a></td>
                </tr>
            {% endfor %}                                          
        </tbody>
    </table>
{% endif%}  